
    <!-- =========================
Header v1
===========================-->


    <main>
      <!-- ===============
affiliate-program section
================ -->
<section class="pt-32 pb-14 sm:pt-36 md:pt-42 md:pb-16 lg:pb-[88px] xl:pt-[180px] xl:pb-[100px]">
  <div class="main-container">
    <div class="space-y-14 md:space-y-[70px]">
      <div class="mx-auto max-w-[602px] space-y-1.5 md:space-y-3 md:text-center">
        <h2 data-ns-animate data-delay="0.1" data-instant>Afluma affiliate program</h2>
        <h3 data-ns-animate data-delay="0.2" data-instant class="text-heading-4">
          Earn up to $200 per referral!
        </h3>
        <p data-afluma-slot="summary" data-ns-animate data-delay="0.3" data-instant>
          Become part of the Afluma family by joining our Affiliate Program. Help businesses grow
          while you earn generous commissions — it’s a win-win!
        </p>
        <div data-ns-animate data-delay="0.4" data-instant class="mt-7 md:mt-14">
          <a data-afluma-slot="primary-action"
            href="./affiliate-policy.html"
            class="btn btn-primary btn-xl hover:btn-secondary dark:hover:btn-accent block w-full first-letter:uppercase md:inline-block md:w-auto"
            >Join now</a
          >
        </div>
      </div>

      <figure
        data-ns-animate
        data-delay="0.5"
        data-instant
        class="max-w-full overflow-hidden rounded-[20px]"
      >
        <img data-afluma-slot="primary-media"
          src="/nexsas-runtime/ai-agency/images/ns-img-371.png"
          class="h-full w-full object-cover object-center"
          alt="blog-details-cover"
        />
      </figure>

      <div class="max-w-[830px] space-y-3">
        <h4 data-ns-animate data-delay="0.1">Why join the Afluma affiliate program?</h4>
        <p data-ns-animate data-delay="0.2">
          Our rapidly growing platform, high customer satisfaction, and strong renewal rates make
          promoting <br />
          Afluma easy and profitable.
        </p>
        <ul data-ns-animate data-delay="0.3" class="space-y-2">
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:bg-secondary dark:before:bg-accent font-normal before:relative before:left-0 before:mr-1 before:inline-block before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:content-['']"
          >
            <strong class="text-secondary dark:text-accent font-medium"
              >Earn money doing what you love: </strong
            ><span>
              Whether you're an SEO expert, content creator, community leader, or ad specialist,
              there’s an opportunity for you.
            </span>
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:bg-secondary dark:before:bg-accent font-normal before:relative before:left-0 before:mr-1 before:inline-block before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:content-['']"
          >
            <strong class="text-secondary dark:text-accent font-medium"
              >Trusted by businesses worldwide: </strong
            ><span>
              Our solutions are designed to scale, making them attractive for a wide variety of
              clients.
            </span>
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:bg-secondary dark:before:bg-accent font-normal before:relative before:left-0 before:mr-1 before:inline-block before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:content-['']"
          >
            <strong class="text-secondary dark:text-accent font-medium"
              >Attractive lifetime deals: </strong
            ><span> Make it easier for your audience to invest and grow with Afluma. </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

      <!-- ===============
  Affiliate Process section
  ==================== -->

<section class="py-14 md:py-16 lg:py-[88px] xl:py-[100px]">
  <div class="main-container">
    <div class="space-y-10 md:space-y-[70px]">
      <div data-ns-animate data-delay="0.1" class="mx-auto max-w-[602px] space-y-3 text-center">
        <span class="badge badge-green {=$badge-class} mb-5">process</span>
        <h2 data-ns-animate data-delay="0.2">How it works</h2>
        <p data-ns-animate data-delay="0.3">
          Becoming a Afluma affiliate and earning money is simple
        </p>
      </div>

      <div class="grid grid-cols-12 gap-y-8 sm:gap-x-8">
        <!-- Step 1 -->
        <article
          data-ns-animate
          data-delay="0.4"
          class="dark:bg-background-6 col-span-12 space-y-3.5 rounded-[20px] bg-white p-8 md:col-span-6 lg:col-span-4"
        >
          <div class="space-y-11">
            <span class="text-tagline-2 dark:text-accent/60 inline-block">Step 1</span>
            <div>
              <span class="ns-shape-35 text-secondary dark:text-accent text-[52px]"></span>
            </div>
          </div>
          <div class="space-y-3">
            <h3 class="text-heading-6 md:text-heading-5">Register as an affiliate</h3>
            <p class="max-w-[345px]">
              Join our affiliate program and start earning today! As an affiliate, you'll have the
              opportunity to promote our products or services
            </p>
          </div>
        </article>

        <!-- Step 2 -->
        <article
          data-ns-animate
          data-delay="0.5"
          class="dark:bg-background-6 col-span-12 space-y-3.5 rounded-[20px] bg-white p-8 md:col-span-6 lg:col-span-4"
        >
          <div class="space-y-11">
            <span class="text-tagline-2 dark:text-accent/60 inline-block">Step 2</span>
            <div>
              <span class="ns-shape-12 text-secondary dark:text-accent text-[52px]"></span>
            </div>
          </div>
          <div class="space-y-3">
            <h3 class="text-heading-6 md:text-heading-5">Get to know our products</h3>
            <p class="max-w-[345px]">
              Learn about our products and services to effectively promote them to your audience. We
              provide comprehensive resources and training materials.
            </p>
          </div>
        </article>

        <!-- Step 3 -->
        <article
          data-ns-animate
          data-delay="0.6"
          class="dark:bg-background-6 col-span-12 space-y-3.5 rounded-[20px] bg-white p-8 md:col-span-6 lg:col-span-4"
        >
          <div class="space-y-11">
            <span class="text-tagline-2 dark:text-accent/60 inline-block">Step 3</span>
            <div>
              <span class="ns-shape-3 text-secondary dark:text-accent text-[52px]"></span>
            </div>
          </div>
          <div class="space-y-3">
            <h3 class="text-heading-6 md:text-heading-5">Earn commissions on every sale</h3>
            <p class="max-w-[345px]">
              Start earning generous commissions for every successful referral. Track your
              performance and earnings through our affiliate dashboard.
            </p>
          </div>
        </article>
      </div>
    </div>

    <article class="space-y-10 pt-14 md:space-y-[70px] md:pt-16 lg:pt-[88px] xl:pt-[100px]">
      <div data-ns-animate data-delay="0.1">
        <h3 class="text-heading-6 md:text-heading-5 mb-3 font-normal">Affiliate benefits</h3>
        <p class="mb-8">
          Joining our affiliate program comes with a host of valuable perks designed to reward your
          efforts and grow with your success. As an affiliate, you’ll earn competitive commissions
          for every sale you refer, with no caps on your potential earnings.
        </p>

        <ul class="space-y-4">
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:inline-block before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Earn up to $200 from a single sale
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Ready-to-use creatives (banners, social media kits, templates)
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Mentorship from affiliate marketing experts
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Weekly tips and updates via email
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Exclusive offers and promotional campaigns
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Real-time sales tracking dashboard
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Dedicated support for affiliates
          </li>
        </ul>
      </div>
      <div data-ns-animate data-delay="0.2">
        <h3 class="text-heading-6 md:text-heading-5 mb-3 font-normal">What you can do</h3>
        <p class="mb-8">
          No matter where you are or what your background is, there are meaningful ways to make a
          difference. Start by educating yourself on the issues that matter to you. Stay informed,
          and speak up, and make others aware.
        </p>

        <ul class="space-y-4">
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:inline-block before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Engage with business and tech communities and recommend valuable solutions
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Share blogs, tutorials, or product reviews (social/podcast)
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Share product comparisons, demos, and videos
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Your guide to community and use cases on your channels
          </li>
        </ul>
      </div>
      <div data-ns-animate data-delay="0.3">
        <h3 class="text-heading-6 md:text-heading-5 mb-3 font-normal">What you cannot do</h3>
        <p class="mb-8">
          While we offer flexibility in how we can be promoted, it's just as important to recognize
          our limitations. Understanding what you can't do isn't a sign of weakness—it's a step
          toward growth, responsibility and clarity.
        </p>

        <ul class="space-y-4">
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:inline-block before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Spam links in irrelevant discussions
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Use incorrect URLs or expired promotional methods
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Spread false or exaggerated information about Afluma
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            Promote Afluma alongside direct competitors
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')]"
          >
            List our deals on coupon/discount-only websites
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

      <Component
        src="src/components/shared/cta.htm"
        class="dark:bg-background-5 bg-white"
        badge-class="badge-yellow-v2"
        badge-text="Get started"
        span-class="hidden"
        cta-heading="Ready to start earning with Afluma?"
        description="If you have any questions, feel free to reach out to our team."
        cta-btn-text="Get started"
        btn-class="hover:btn-secondary dark:hover:btn-accent"
      />
    </main>
    <!-- =========================
Footer v4
===========================-->


  