
    <!-- =========================
Header v1
===========================-->


    <main>
      <!-- =========================
Career section
===========================-->
<section class="pt-32 pb-[100px] sm:pt-36 md:pt-42 xl:pt-[180px] xl:pb-[100px]">
  <div class="main-container">
    <div class="mb-[70px] space-y-3 text-center">
      <h2 data-ns-animate data-delay="0.3">
        We're building the ruture of Afluma— <br class="hidden md:block" />
        come build It with us.
      </h2>
    </div>
    <figure class="mb-18" data-ns-animate data-delay="0.4">
      <img data-afluma-slot="primary-media" src="/nexsas-runtime/ai-agency/images/ns-img-379.png" alt="banner-image" class="rounded-2xl" />
    </figure>
    <div data-ns-animate data-delay="0.5" class="mx-auto max-w-[840px] space-y-8">
      <h4>Become part of a passionate community fueled by common interests.</h4>

      <p data-afluma-slot="summary">
        Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
        Adipiscing viverra vulputate curabitur est.
      </p>

      <p>
        Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
        suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper commodo
        eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel mi blandit.
      </p>
      <p>
        Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor
        in rhoncus magna augue adipiscing.Ullamcorper commodo eget pulvinar pretium. Condimentum
        rhoncus commodo amet nec auctor nibh vel mi blandit. Lorem ipsum dolor sit amet consectetur.
        Nullam blandit dui gravida aliquam enim eu. Adipiscing viverra vulputate curabitur est.
      </p>

      <p>
        Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
        suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper commodo
        eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel mi blandit.
      </p>
      <p>
        Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor
        in rhoncus magna augue adipiscing.Ullamcorper commodo eget pulvinar pretium. Condimentum
        rhoncus commodo amet nec auctor nibh vel mi blandit. Lorem ipsum dolor sit amet consectetur.
        Nullam blandit dui gravida aliquam enim eu. Adipiscing viverra vulputate curabitur est.
      </p>

      <p>
        Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
        suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper commodo
        eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel mi blandit.
      </p>
      <p>
        Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor
        in rhoncus magna augue adipiscing.Ullamcorper commodo eget pulvinar pretium. Condimentum
        rhoncus commodo amet nec auctor nibh vel mi blandit.
      </p>
    </div>
  </div>
</section>

      <!-- =========================
Feature section
===========================-->
<section class="dark:bg-background-6 bg-white py-[100px] xl:py-[200px]">
  <div class="main-container">
    <div class="mb-8 text-center md:mb-[52px]">
      <span data-ns-animate data-delay="0.1" class="badge badge-green mb-5"> More Features </span>
      <h2 data-ns-animate data-delay="0.2">
        Managing your money has
        <br class="hidden md:block" />
        never been easier
      </h2>
    </div>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div
        data-ns-animate
        data-delay="0.3"
        class="bg-background-2 dark:bg-background-5 space-y-6 rounded-[20px] p-6"
      >
        <figure>
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-67.png"
            alt="feature"
            class="block h-full w-full rounded-2xl object-cover dark:hidden"
          />
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-dark-44.png"
            alt="feature"
            class="hidden h-full w-full rounded-2xl object-cover dark:block"
          />
        </figure>
        <div>
          <h3 class="text-heading-6 sm:text-heading-5 mb-1 font-normal sm:mb-3">
            Smart expense tracking
          </h3>
          <p class="mb-2">
            Lorem ipsum dolor sit amet consectetur. quis sed duis duis purus quisque.
          </p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.4"
        class="bg-background-2 dark:bg-background-5 space-y-6 rounded-[20px] p-6"
      >
        <figure>
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-68.png"
            alt="feature"
            class="block h-full w-full rounded-2xl object-cover dark:hidden"
          />
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-dark-45.png"
            alt="feature"
            class="hidden h-full w-full rounded-2xl object-cover dark:block"
          />
        </figure>
        <div>
          <h3 class="text-heading-6 sm:text-heading-5 mb-1 font-normal sm:mb-3">
            Real-time analytics
          </h3>
          <p class="mb-2">
            Lorem ipsum dolor sit amet consectetur. quis sed duis duis purus quisque.
          </p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.5"
        class="bg-background-2 dark:bg-background-5 space-y-6 rounded-[20px] p-6"
      >
        <figure>
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-69.png"
            alt="feature"
            class="block h-full w-full rounded-2xl object-cover dark:hidden"
          />
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-dark-46.png"
            alt="feature"
            class="hidden h-full w-full rounded-2xl object-cover dark:block"
          />
        </figure>
        <div>
          <h3 class="text-heading-6 sm:text-heading-5 mb-1 font-normal sm:mb-3">
            Secure payment processing
          </h3>
          <p class="mb-2">
            Lorem ipsum dolor sit amet consectetur. quis sed duis duis purus quisque.
          </p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.6"
        class="bg-background-2 dark:bg-background-5 space-y-6 rounded-[20px] p-6"
      >
        <figure>
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-70.png"
            alt="feature"
            class="block h-full w-full rounded-2xl object-cover dark:hidden"
          />
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-dark-47.png"
            alt="feature"
            class="hidden h-full w-full rounded-2xl object-cover dark:block"
          />
        </figure>
        <div>
          <h3 class="text-heading-6 sm:text-heading-5 mb-1 font-normal sm:mb-3">
            Automated budgeting tools
          </h3>
          <p class="mb-2">
            Lorem ipsum dolor sit amet consectetur. quis sed duis duis purus quisque.
          </p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.7"
        class="bg-background-2 dark:bg-background-5 space-y-6 rounded-[20px] p-6"
      >
        <figure>
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-71.png"
            alt="feature"
            class="block h-full w-full rounded-2xl object-cover dark:hidden"
          />
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-dark-48.png"
            alt="feature"
            class="hidden h-full w-full rounded-2xl object-cover dark:block"
          />
        </figure>
        <div>
          <h3 class="text-heading-6 sm:text-heading-5 mb-1 font-normal sm:mb-3">
            Multi-currency support
          </h3>
          <p class="mb-2">
            Lorem ipsum dolor sit amet consectetur. quis sed duis duis purus quisque.
          </p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.8"
        class="bg-background-2 dark:bg-background-5 space-y-6 rounded-[20px] p-6"
      >
        <figure>
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-72.png"
            alt="feature"
            class="block h-full w-full rounded-2xl object-cover dark:hidden"
          />
          <img
            src="/nexsas-runtime/ai-agency/images/ns-img-dark-49.png"
            alt="feature"
            class="hidden h-full w-full rounded-2xl object-cover dark:block"
          />
        </figure>
        <div>
          <h3 class="text-heading-6 sm:text-heading-5 mb-1 font-normal sm:mb-3">
            Investment portfolio tracking
          </h3>
          <p class="mb-2">
            Lorem ipsum dolor sit amet consectetur. quis sed duis duis purus quisque.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
Career Positions section
===========================-->
<section class="py-[100px] xl:py-[200px]">
  <div class="main-container">
    <div class="mb-14 text-center">
      <span data-ns-animate data-delay="0.1" class="badge badge-green mb-5">Open Positions </span>
      <h2 data-ns-animate data-delay="0.2">
        Become part of the
        <br class="hidden md:block" />
        dream-team
      </h2>
    </div>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <!-- Position 1-->
      <div data-ns-animate data-delay="0.3">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 rounded-[20px] p-11 transition-all duration-400 hover:scale-[100.5%] hover:shadow-md"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">New york</span>
            <span class="badge badge-gray-light">Full-time</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">
              Digital is making place in funds back-office
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <div>
            <a data-afluma-slot="primary-action"
              href="./career-details.html"
              class="btn hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md btn-white"
            >
              <span>Read more</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Position 2-->
      <div data-ns-animate data-delay="0.4">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 rounded-[20px] p-11 transition-all duration-400 hover:scale-[100.5%] hover:shadow-md"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">Germany</span>
            <span class="badge badge-gray-light">Full-time</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">Systems administrator</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <div>
            <a
              href="./career-details.html"
              class="btn hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md btn-white"
            >
              <span>Read more</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Position 3-->
      <div data-ns-animate data-delay="0.5">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 rounded-[20px] p-11 transition-all duration-400 hover:scale-[100.5%] hover:shadow-md"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">Australia</span>
            <span class="badge badge-gray-light">Remote</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">Technical project manager</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <div>
            <a
              href="./career-details.html"
              class="btn hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md btn-white"
            >
              <span>Read more</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Position 4-->
      <div data-ns-animate data-delay="0.6">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 rounded-[20px] p-11 transition-all duration-400 hover:scale-[100.5%] hover:shadow-md"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">Canada</span>
            <span class="badge badge-gray-light">Remote</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">Marketing lead</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <div>
            <a
              href="./career-details.html"
              class="btn hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md btn-white"
            >
              <span>Read more</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Position 5-->
      <div data-ns-animate data-delay="0.7">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 rounded-[20px] p-11 transition-all duration-400 hover:scale-[100.5%] hover:shadow-md"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">London</span>
            <span class="badge badge-gray-light">Part-time</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">Cybersecurity analyst</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <div>
            <a
              href="./career-details.html"
              class="btn hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md btn-white"
            >
              <span>Read more</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Position 6-->
      <div data-ns-animate data-delay="0.8">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 rounded-[20px] p-11 transition-all duration-400 hover:scale-[100.5%] hover:shadow-md"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">New york</span>
            <span class="badge badge-gray-light">Full-time</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">Information security specialist</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <div>
            <a
              href="./career-details.html"
              class="btn hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md btn-white"
            >
              <span>Read more</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <Component
        src="src/components/shared/cta.htm"
        class="dark:bg-background-6 bg-white"
        badge-class="badge-green"
        badge-text="Get started"
        span-class="hidden"
        cta-heading="Build a complete website using the assistance"
        description="Start your free trial today and see your ideas come to life easily and creatively."
        cta-btn-text="Get started"
        btn-class="hover:btn-secondary dark:hover:btn-accent"
      />
    </main>
    <!-- =========================
Footer v4
===========================-->


  