<div>
  <div
    class="dropdown-menu-bridge fixed left-1/2 -translate-x-1/2 top-full w-full h-3 z-40 lg:w-[1290px] pointer-events-none bg-transparent opacity-0"
  ></div>
  <div
    id="resources-mega-menu"
    class="dropdown-menu fixed left-1/2 -translate-x-1/2 top-full mt-2 pointer-events-none transition-all duration-300 opacity-0 lg:w-[1290px] w-full bg-white dark:bg-background-6 z-50 rounded-[20px] p-6 border border-stroke-1 dark:border-background-7"
  >
    <div class="grid grid-cols-12 items-start md:gap-x-12 gap-y-6">
      <div class="space-y-3 col-span-4">
        <p class="text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 px-3">
          Help & Documentation
        </p>
        <ul>
          <li>
            <a href="./documentation.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path
    d="M18.3337 15.8333C18.3337 16.2754 18.1581 16.6993 17.8455 17.0118C17.5329 17.3244 17.109 17.5 16.667 17.5H3.33366C2.89163 17.5 2.46771 17.3244 2.15515 17.0118C1.84259 16.6993 1.66699 16.2754 1.66699 15.8333V4.16667C1.66699 3.72464 1.84259 3.30072 2.15515 2.98816C2.46771 2.67559 2.89163 2.5 3.33366 2.5H7.50033L9.16699 5H16.667C17.109 5 17.5329 5.17559 17.8455 5.48816C18.1581 5.80072 18.3337 6.22464 18.3337 6.66667V15.8333Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M10 9.16669V14.1667"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M7.5 11.6667H12.5"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Documentation
                </p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Detailed documentation of the product.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="./tutorial.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none">
  <path
    d="M3.625 16.7501H9.875"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M2.89873 11.6728C2.15556 11.0924 1.55363 10.351 1.13818 9.50449C0.722728 8.65796 0.504568 7.72828 0.500096 6.78531C0.481376 3.39763 3.2125 0.581526 6.5993 0.501812C7.91169 0.470211 9.20072 0.852645 10.2835 1.59487C11.3664 2.33709 12.188 3.40141 12.6319 4.63687C13.0757 5.87232 13.1194 7.21618 12.7565 8.47781C12.3937 9.73945 11.6428 10.8548 10.6104 11.6657C10.383 11.8418 10.1986 12.0674 10.0712 12.3253C9.94381 12.5832 9.87672 12.8667 9.87502 13.1544L9.87501 13.625C9.87501 13.7908 9.80916 13.9498 9.69195 14.067C9.57474 14.1842 9.41577 14.25 9.25001 14.25H4.24999C4.08423 14.25 3.92526 14.1842 3.80805 14.067C3.69084 13.9498 3.62499 13.7908 3.62499 13.625L3.62498 13.1539C3.62427 12.8681 3.55851 12.5862 3.43268 12.3296C3.30685 12.073 3.12425 11.8484 2.89873 11.6728V11.6728Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M7.38477 3.06134C8.14923 3.19128 8.85448 3.55538 9.40313 4.10336C9.95178 4.65133 10.3167 5.35613 10.4476 6.12043"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Tutorials</p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Step-by-step guides to help you get started.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="./faq.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
  <path
    d="M2.87976 14.3702C2.16069 13.6512 2.63762 12.1415 2.27162 11.257C1.89222 10.34 0.5 9.60195 0.5 8.62497C0.5 7.64801 1.89222 6.91 2.27163 5.99303C2.63763 5.10846 2.1607 3.59882 2.87976 2.87976C3.59882 2.16069 5.10846 2.63762 5.99304 2.27162C6.91002 1.89222 7.64805 0.5 8.62503 0.5C9.60199 0.5 10.34 1.89222 11.257 2.27163C12.1415 2.63763 13.6512 2.1607 14.3702 2.87976C15.0893 3.59882 14.6124 5.10846 14.9784 5.99304C15.3578 6.91002 16.75 7.64805 16.75 8.62503C16.75 9.60199 15.3578 10.34 14.9784 11.257C14.6124 12.1415 15.0893 13.6512 14.3702 14.3702C13.6512 15.0893 12.1415 14.6124 11.257 14.9784C10.34 15.3578 9.60195 16.75 8.62497 16.75C7.64801 16.75 6.91 15.3578 5.99303 14.9784C5.10846 14.6124 3.59882 15.0893 2.87976 14.3702Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M8.625 13.625C9.14277 13.625 9.5625 13.2053 9.5625 12.6875C9.5625 12.1697 9.14277 11.75 8.625 11.75C8.10723 11.75 7.6875 12.1697 7.6875 12.6875C7.6875 13.2053 8.10723 13.625 8.625 13.625Z"
    class="fill-secondary dark:fill-accent {=$class}"
  />
  <path
    d="M8.625 9.87537V9.25037C9.05765 9.25037 9.48058 9.12207 9.84031 8.88171C10.2 8.64134 10.4804 8.2997 10.646 7.89999C10.8116 7.50027 10.8549 7.06044 10.7705 6.63611C10.6861 6.21177 10.4777 5.822 10.1718 5.51607C9.86587 5.21014 9.47609 5.0018 9.05176 4.9174C8.62743 4.83299 8.18759 4.87631 7.78788 5.04188C7.38817 5.20745 7.04653 5.48782 6.80616 5.84756C6.5658 6.20729 6.4375 6.63022 6.4375 7.06287"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">FAQ</p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Frequently asked questions and answers.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="./case-study.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
  <path
    d="M7.0625 13.625C10.6869 13.625 13.625 10.6869 13.625 7.0625C13.625 3.43813 10.6869 0.5 7.0625 0.5C3.43813 0.5 0.5 3.43813 0.5 7.0625C0.5 10.6869 3.43813 13.625 7.0625 13.625Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M11.7021 11.7031L15.4991 15.5"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Case Studies
                </p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Real-world examples of how the product is used.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="./whitepaper.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 14 17" fill="none">
  <path
    d="M4.25 10.5H9.25"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M4.25 8H9.25"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M9.25015 1.75H12.375C12.5408 1.75 12.6997 1.81585 12.8169 1.93306C12.9342 2.05027 13 2.20924 13 2.375V15.5C13 15.6658 12.9342 15.8247 12.8169 15.9419C12.6997 16.0592 12.5408 16.125 12.375 16.125H1.125C0.95924 16.125 0.800269 16.0592 0.683058 15.9419C0.565848 15.8247 0.5 15.6658 0.5 15.5V2.375C0.5 2.20924 0.565848 2.05027 0.683058 1.93306C0.800269 1.81585 0.95924 1.75 1.125 1.75H4.24983"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M3.625 4.25V3.625C3.625 2.7962 3.95424 2.00134 4.54029 1.41529C5.12634 0.82924 5.9212 0.5 6.75 0.5C7.5788 0.5 8.37366 0.82924 8.95971 1.41529C9.54576 2.00134 9.875 2.7962 9.875 3.625V4.25H3.625Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Whitepapers
                </p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Detailed whitepapers on the product.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="./support.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
  <path
    d="M15.6137 8H13.1137C12.7822 8 12.4643 8.1317 12.2299 8.36612C11.9954 8.60054 11.8637 8.91848 11.8637 9.25V12.375C11.8637 12.7065 11.9954 13.0245 12.2299 13.2589C12.4643 13.4933 12.7822 13.625 13.1137 13.625H14.3637C14.6953 13.625 15.0132 13.4933 15.2476 13.2589C15.482 13.0245 15.6137 12.7065 15.6137 12.375V8ZM15.6137 8C15.6137 7.01031 15.4179 6.03039 15.0374 5.11675C14.6569 4.20311 14.0994 3.3738 13.3969 2.67664C12.6944 1.97947 11.8609 1.42823 10.9444 1.0547C10.0279 0.68116 9.04654 0.492712 8.05687 0.500216C7.0672 0.492712 6.08583 0.68116 5.16932 1.0547C4.25282 1.42823 3.41931 1.97947 2.71684 2.67664C2.01437 3.3738 1.45683 4.20311 1.07636 5.11675C0.695883 6.03039 0.5 7.01031 0.5 8V12.375C0.5 12.7065 0.631696 13.0245 0.866116 13.2589C1.10054 13.4933 1.41848 13.625 1.75 13.625H3C3.33152 13.625 3.64946 13.4933 3.88388 13.2589C4.1183 13.0245 4.25 12.7065 4.25 12.375V9.25C4.25 8.91848 4.1183 8.60054 3.88388 8.36612C3.64946 8.1317 3.33152 8 3 8H0.5"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M15.6137 12.375V14.25C15.6137 14.913 15.3503 15.5489 14.8815 16.0178C14.4127 16.4866 13.7768 16.75 13.1137 16.75H8.625"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Support</p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Get help and support from our team.
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="space-y-3 col-span-4">
        <p class="text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 px-3">
          Knowledge & Research
        </p>
        <ul>
          <li>
            <a href="./use-case.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none">
  <path
    d="M3.625 16.7501H9.875"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M6.75 14.2501V9.87506"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M4.25 7.37506L6.75 9.87506L9.25 7.37506"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M2.89873 11.6728C2.15556 11.0924 1.55363 10.351 1.13818 9.50449C0.722727 8.65796 0.504568 7.72828 0.500096 6.78531C0.481375 3.39763 3.2125 0.581526 6.5993 0.501812C7.91169 0.470211 9.20072 0.852645 10.2835 1.59487C11.3664 2.33709 12.188 3.40141 12.6319 4.63687C13.0757 5.87232 13.1194 7.21618 12.7565 8.47781C12.3937 9.73945 11.6428 10.8548 10.6104 11.6657C10.383 11.8418 10.1986 12.0674 10.0712 12.3253C9.94381 12.5832 9.87672 12.8667 9.87502 13.1544L9.87501 13.625C9.87501 13.7908 9.80916 13.9498 9.69195 14.067C9.57474 14.1842 9.41577 14.25 9.25001 14.25H4.24999C4.08423 14.25 3.92526 14.1842 3.80805 14.067C3.69084 13.9498 3.62499 13.7908 3.62499 13.625L3.62498 13.1539C3.62427 12.8681 3.55851 12.5862 3.43268 12.3296C3.30685 12.073 3.12425 11.8484 2.89873 11.6728V11.6728Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Use Cases</p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Explore real-world scenarios where our AI agency delivers results.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="./success-stories.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="19" viewBox="0 0 14 19" fill="none">
  <path
    d="M6.75 13C10.2018 13 13 10.2018 13 6.75C13 3.29822 10.2018 0.5 6.75 0.5C3.29822 0.5 0.5 3.29822 0.5 6.75C0.5 10.2018 3.29822 13 6.75 13Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M6.75 10.5C8.82107 10.5 10.5 8.82107 10.5 6.75C10.5 4.67893 8.82107 3 6.75 3C4.67893 3 3 4.67893 3 6.75C3 8.82107 4.67893 10.5 6.75 10.5Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M10.501 11.7496V18L6.75043 16.125L3.00098 18V11.7502"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Success Stories
                </p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Discover measurable outcomes achieved by clients.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="./analytics.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path
    d="M5 16.6667V11.6667"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M15 16.6666V8.33331"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M10 16.6666V3.33331"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Analytics</p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Dive into performance metrics and data insights.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="./changelog.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
  <path
    d="M5.15965 12.1317C4.27577 14.7833 0.740234 14.7833 0.740234 14.7833C0.740234 14.7833 0.740234 11.2478 3.39188 10.3639"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M13.1152 5.94448L7.8119 11.2478L4.27637 7.71224L9.57967 2.40894C11.5878 0.400808 13.5959 0.420396 14.4524 0.548173C14.5842 0.56783 14.7063 0.629324 14.8005 0.723595C14.8948 0.817866 14.9563 0.939927 14.976 1.07179C15.1037 1.9282 15.1233 3.93634 13.1152 5.94448Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M12.2309 6.82837V11.8728C12.2309 11.9549 12.2148 12.0361 12.1834 12.112C12.152 12.1878 12.1059 12.2567 12.0479 12.3147L9.52118 14.8414C9.44119 14.9214 9.34099 14.9782 9.23126 15.0057C9.12153 15.0332 9.0064 15.0305 8.89813 14.9977C8.78985 14.9649 8.69251 14.9033 8.61648 14.8196C8.54044 14.7358 8.48856 14.633 8.46638 14.5221L7.81152 11.2478"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M8.69612 3.29285H3.6517C3.56962 3.29285 3.48835 3.30901 3.41252 3.34042C3.33669 3.37183 3.26779 3.41787 3.20976 3.4759L0.683058 6.0026C0.603067 6.0826 0.546286 6.1828 0.51877 6.29253C0.491254 6.40225 0.494036 6.51739 0.526818 6.62566C0.559599 6.73393 0.621152 6.83128 0.704913 6.90731C0.788673 6.98335 0.8915 7.03522 1.00243 7.05741L4.2767 7.71226"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Changelog</p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Stay updated with the latest changes and improvements.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="./glossary.html" class="flex items-start gap-2 p-3 relative group">
              <div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-background-3 dark:bg-background-7 opacity-0 group-hover:opacity-100 rounded-[10px] z-0 transition-all duration-400 {=$class}"
></div>

              <div
                class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none">
  <path
    d="M0.5 14.875C0.5 14.3777 0.697544 13.9008 1.04917 13.5492C1.40081 13.1975 1.87772 13 2.375 13H13V0.5H2.375C1.87772 0.5 1.40081 0.697544 1.04917 1.04917C0.697544 1.40081 0.5 1.87772 0.5 2.375V14.875Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M0.5 14.875V15.5H11.75"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Glossary</p>
                <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                  Terms and definitions.
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-4">
        <div class="bg-background-2 dark:bg-background-7 rounded-[10px] px-3 pb-3">
          <p class="p-3 text-tagline-2 font-medium text-secondary/60 dark:text-accent/60">
            Trust & Compliance
          </p>
          <ul>
            <li>
              <a href="./security.html" class="flex items-center gap-2 p-3 relative group">
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-background-4 dark:group-hover:bg-background-8"
                />
                <div
                  class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
  <path
    d="M0.5 5.70833V1.125C0.5 0.95924 0.565848 0.800269 0.683058 0.683058C0.800269 0.565848 0.95924 0.5 1.125 0.5H13.625C13.7908 0.5 13.9497 0.565848 14.0669 0.683058C14.1842 0.800269 14.25 0.95924 14.25 1.125V5.70833C14.25 12.272 8.67922 14.4466 7.56689 14.8154C7.44254 14.8582 7.30746 14.8582 7.18311 14.8154C6.07078 14.4466 0.5 12.272 0.5 5.70833Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M10.8125 4.875L6.22914 9.25L3.9375 7.0625"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Security</p>
                </div>
              </a>
            </li>
            <li>
              <a href="./gdpr.html" class="flex items-center gap-2 p-3 relative group">
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-background-4 dark:group-hover:bg-background-8"
                />
                <div
                  class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path
    d="M16.6663 17.5V15.8333C16.6663 14.9493 16.3152 14.1014 15.69 13.4763C15.0649 12.8512 14.2171 12.5 13.333 12.5H6.66634C5.78229 12.5 4.93444 12.8512 4.30932 13.4763C3.6842 14.1014 3.33301 14.9493 3.33301 15.8333V17.5"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M10.0003 9.16667C11.8413 9.16667 13.3337 7.67428 13.3337 5.83333C13.3337 3.99238 11.8413 2.5 10.0003 2.5C8.15938 2.5 6.66699 3.99238 6.66699 5.83333C6.66699 7.67428 8.15938 9.16667 10.0003 9.16667Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                    GDPR Compliance
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="./privacy-policy.html" class="flex items-center gap-2 p-3 relative group">
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-background-4 dark:group-hover:bg-background-8"
                />
                <div
                  class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path
    d="M9.99967 18.3334C9.99967 18.3334 16.6663 15 16.6663 10V4.16669L9.99967 1.66669L3.33301 4.16669V10C3.33301 15 9.99967 18.3334 9.99967 18.3334Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                    Privacy Policy
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="./terms-conditions.html" class="flex items-center gap-2 p-3 relative group">
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-background-4 dark:group-hover:bg-background-8"
                />
                <div
                  class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <g clip-path="url(#clip0_4483_29796)">
    <path
      d="M10 0.833313V19.1666"
      class="stroke-secondary dark:stroke-accent {=$class}"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M14.1667 4.16669H7.91667C7.14312 4.16669 6.40125 4.47398 5.85427 5.02096C5.30729 5.56794 5 6.30981 5 7.08335C5 7.8569 5.30729 8.59877 5.85427 9.14575C6.40125 9.69273 7.14312 10 7.91667 10H12.0833C12.8569 10 13.5987 10.3073 14.1457 10.8543C14.6927 11.4013 15 12.1431 15 12.9167C15 13.6902 14.6927 14.4321 14.1457 14.9791C13.5987 15.5261 12.8569 15.8334 12.0833 15.8334H5"
      class="stroke-secondary dark:stroke-accent {=$class}"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
  <defs>
    <clipPath id="clip0_4483_29796">
      <rect width="20" height="20" fill="white" />
    </clipPath>
  </defs>
</svg>

                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                    Terms & Conditions
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a
                href="./press.html"
                class="flex items-center gap-2 p-3 relative group"
              >
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-background-4 dark:group-hover:bg-background-8"
                />
                <div
                  class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
                >
                  <svg
  aria-hidden="true"
  xmlns="http://www.w3.org/2000/svg"
  width="20"
  height="20"
  viewBox="0 0 20 20"
  fill="none"
  class="stroke-secondary dark:stroke-accent {=$class}"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    d="M19 7h1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h11.5M7 14h6m-6 3h6m0-10h.5m-.5 3h.5M7 7h3v3H7V7Z"
  />
</svg>

                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                    Press Coverage
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="./affiliate-policy.html" class="flex items-center gap-2 p-3 relative group">
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-background-4 dark:group-hover:bg-background-8"
                />
                <div
                  class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path
    d="M11.6663 1.66669H4.99967C4.55765 1.66669 4.13372 1.84228 3.82116 2.15484C3.5086 2.4674 3.33301 2.89133 3.33301 3.33335V16.6667C3.33301 17.1087 3.5086 17.5326 3.82116 17.8452C4.13372 18.1578 4.55765 18.3334 4.99967 18.3334H14.9997C15.4417 18.3334 15.8656 18.1578 16.1782 17.8452C16.4907 17.5326 16.6663 17.1087 16.6663 16.6667V6.66669L11.6663 1.66669Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M13.3337 14.1667H6.66699"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M13.3337 10.8333H6.66699"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M8.33366 7.5H7.50033H6.66699"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M11.667 1.66669V6.66669H16.667"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                    Affiliate Policy
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="./legal.html" class="flex items-center gap-2 p-3 relative group">
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-background-4 dark:group-hover:bg-background-8"
                />
                <div
                  class="mt-1 size-7 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none">
  <path
    d="M12.3756 15.5H1.125C0.95924 15.5 0.800268 15.4342 0.683058 15.3169C0.565848 15.1997 0.5 15.0408 0.5 14.875V1.125C0.5 0.95924 0.565848 0.800269 0.683058 0.683058C0.800268 0.565848 0.95924 0.5 1.125 0.5H8.62561L13.0006 4.875V14.875C13.0006 14.9571 12.9844 15.0383 12.953 15.1142C12.9216 15.19 12.8756 15.2589 12.8176 15.3169C12.7595 15.375 12.6906 15.421 12.6148 15.4524C12.539 15.4838 12.4577 15.5 12.3756 15.5Z"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M8.62598 0.5V4.875H13.0016"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M4.25098 8.625H9.25098"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M4.25098 11.125H9.25098"
    class="stroke-secondary dark:stroke-accent {=$class}"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Legal</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

