
    

    <main>
      <!-- =========================
GDPR Details
===========================-->
<section class="pt-32 pb-[200px] sm:pt-36 md:pt-42 xl:pt-[180px]">
  <div class="main-container">
    <div class="space-y-[70px]">
      <!-- gdrp  -->
      <div data-ns-animate data-delay="0.3" class="space-y-3">
        <h2>Afluma and the general data protection regulation (GDPR)</h2>
        <p data-afluma-slot="summary">
          The General Data Protection Regulation (GDPR) is a privacy regulation enacted by the
          European Union (EU) to strengthen the protection of individuals' data. It became
          enforceable on May 25, 2018, and applies to any company that handles the data of EU
          citizens, no matter where the company is based.
          <br />
          <br />
          This page explains how Afluma implements GDPR principles and ensures that your data is
          handled transparently, securely, and respectfully.
        </p>
      </div>
      <!-- purpose  -->
      <div data-ns-animate data-delay="0.4" class="space-y-6">
        <div class="space-y-3">
          <h3 class="text-heading-4">Purpose of this document</h3>
          <p>
            At Afluma, we are fully committed to respecting your privacy. This page provides a clear
            overview of:
          </p>
        </div>
        <ul class="space-y-3">
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60"> Who we are </span>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60"
              >What types of data do we collect?
            </span>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              Why do we collect data?</span
            >
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60"
              >How long do we retain your data?
            </span>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              Third-party services we use
            </span>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              Who we are Your rights over your data</span
            >
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              How you can manage, update, or delete your information
            </span>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              How to contact us about your data
            </span>
          </li>
        </ul>
      </div>

      <!-- what is gdpr  -->
      <div data-ns-animate data-delay="0.5" class="space-y-3">
        <h3 class="text-heading-4">What is GDPR?</h3>
        <p>
          In simple terms, GDPR gives you greater control over your personal information. Service
          providers (like Afluma) must be transparent about what data they collect, how they use it,
          and how they share it — and users must have full rights to access, modify, or delete their
          data.
          <br />
          <br />
          Although GDPR is an EU regulation, it affects any business that collects or processes the
          data of EU residents, including Afluma.
        </p>
      </div>

      <!-- How Afluma Implements GDPR -->
      <div data-ns-animate data-delay="0.3" class="space-y-3">
        <h3 class="text-heading-4">How Afluma Implements GDPR</h3>
        <p>
          Afluma has always prioritized user data privacy, even before GDPR came into effect. Our
          core practices naturally align with GDPR principles, and we've made further improvements
          to ensure full compliance.
        </p>

        <div class="space-y-3">
          <h4 class="text-tagline-1 text-secondary dark:text-accent">We have updated our:</h4>
          <ul class="space-y-1">
            <li class="flex items-center justify-start gap-2">
              <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
              ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
                Terms and conditions
              </span>
            </li>
            <li class="flex items-center justify-start gap-2">
              <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
              ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
                Privacy policy
              </span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Data we collect -->
      <div data-ns-animate data-delay="0.5" class="space-y-6">
        <h3 class="text-heading-4">Data we collect</h3>
        <ul class="space-y-3">
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span>
            <p>
              <span class="text-secondary dark:text-accent">Account Information: </span>
              Your name, email address, phone number, and billing address during account
              registration.
            </p>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span>
            <p>
              <span class="text-secondary dark:text-accent">Order Data: IP address: </span>web
              browser information, payment email, billing address, payment method (e.g., PayPal or
              credit card details).
            </p>
          </li>

          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span>
            <p>
              <span class="text-secondary dark:text-accent">Browsing Behavior: </span>Pages you
              visit, products you view, time spent on the site, and interaction with our marketing
              campaigns.
            </p>
          </li>
        </ul>
      </div>

      <!-- Why we collect your data -->
      <div data-ns-animate data-delay="0.5" class="space-y-6">
        <h3 class="text-heading-4" id="data-purpose">Why we collect your data</h3>
        <ul class="space-y-3">
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              To create and manage your Afluma account
            </span>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              To process orders, generate invoices, and prevent fraudulent transactions
            </span>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              To improve your experience on our site through personalized content
            </span>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              To analyze site traffic and optimize marketing efforts
            </span>
          </li>
        </ul>
      </div>

      <!-- Third-Party services we use -->
      <div data-ns-animate data-delay="0.3" class="space-y-6">
        <h3 class="text-heading-4" id="third-party">Third-Party services we use</h3>
        <ul class="space-y-3">
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span>
            <p>
              <span class="text-secondary dark:text-accent">WooCommerce: </span>For secure online
              transactions. registration.
            </p>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span>
            <p>
              <span class="text-secondary dark:text-accent">Google Analytics: </span>For traffic
              analysis and understanding user behavior.
            </p>
          </li>
        </ul>
      </div>

      <!-- Your data rights -->
      <div data-ns-animate data-delay="0.4" class="space-y-6">
        <h3 class="text-heading-4" id="data-rights">Your data rights</h3>
        <ul class="space-y-3">
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span>
            <p>
              <span class="text-secondary dark:text-accent">Access</span> your personal information
            </p>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span>
            <p>
              <span class="text-secondary dark:text-accent">Modify</span> your account information
            </p>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span>
            <p>
              <span class="text-secondary dark:text-accent">Request</span> the deletion of your data
            </p>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span>
            <p>
              <span class="text-secondary dark:text-accent">Withdraw</span>
              consent for processing personal information
            </p>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span>
            <p>
              <span class="text-secondary dark:text-accent">Download</span> a copy of your stored
              data
            </p>
          </li>
        </ul>
      </div>

      <!--How to manage or delete your data-->
      <div data-ns-animate data-delay="0.5" class="space-y-6">
        <h3 class="text-heading-4" id="data-management">How to manage or delete your data</h3>
        <ul class="space-y-3">
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              You can update your profile details anytime from your account dashboard.
            </span>
          </li>
          <li class="flex items-center justify-start gap-2">
            <span class="bg-secondary dark:bg-accent inline-block size-1.5 rounded-full"></span
            ><span class="text-tagline-1 text-secondary/60 dark:text-accent/60">
              To request a complete data deletion or data export, simply send an email to:
              <span class="text-secondary dark:text-accent">support@Afluma.com </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
CTA v1 section
===========================-->
<section class="py-[50px] md:py-20 lg:py-28 dark:bg-background-5 bg-white" aria-label="Use Case Overview">
  <div class="main-container">
    <div class="flex items-center flex-col lg:flex-row justify-between">
      <div
        class="xl:max-w-[650px] lg:max-w-[476px] max-[400px]:max-w-[300px] w-full space-y-5 text-center lg:text-left"
      >
        <span data-ns-animate data-delay="0.3" class="badge badge-green badge-yellow-v2"
          >Get started</span
        >
        <div class="space-y-3">
          <h2
            data-ns-animate
            data-delay="0.4"
            class="text-secondary dark:text-accent text-heading-5 sm:text-heading-4 lg:text-heading-2"
          >
            Ready to start earning with Afluma?
            <span class="text-primary-500 hidden">{=$span-text}</span>
          </h2>
          <p data-ns-animate data-delay="0.5">If you have any questions, feel free to reach out to our team.</p>
        </div>
      </div>

      <div
        class="lg:basis-[466px] space-y-6 md:ml-0 xl:ml-[100px] pt-[40px] lg:pt-[67px] w-full sm:w-[80%] md:w-[60%]"
      >
        <form
          data-ns-animate
          data-delay="0.6"
          action="#"
          method="post"
          class="flex items-center flex-col gap-5 sm:flex-row justify-start lg:gap-3"
        >
          <input
            type="email"
            name="email"
            id="userEmail-cta-v1"
            placeholder="Enter your email"
            required
            class="px-[18px] shadow-1 h-12 py-3 placeholder:text-secondary/50 rounded-full border border-stroke-1 lg:max-w-[340px] md:w-[71%] w-full max-[376px]:w-full dark:border-stroke-7 dark:placeholder:text-accent/60 focus:outline-none focus:border-primary-600 dark:focus:border-primary-400 dark:text-accent placeholder:font-normal font-normal"
          />

          <button
            type="submit"
            class="btn btn-md btn-primary h-12 w-full sm:w-[28%] lg:w-auto hover:btn-secondary dark:hover:btn-accent"
          >
            <span>Get started</span>
          </button>
        </form>
        <ul
          class="flex flex-row items-center justify-center gap-x-4 sm:gap-x-6 sm:gap-y-0 gap-y-5 lg:justify-start"
        >
          <li data-ns-animate data-delay="0.7" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">No credit card required</p>
          </li>
          <li data-ns-animate data-delay="0.8" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">14-Day free trial</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

    </main>
    <!-- =========================
Footer v3
===========================-->


  