
    

    <main>
      <!-- =========================
Process Steps section
===========================-->
<section class="pb-[120px] xl:pb-[200px] pt-[120px] lg:pt-[160px]">
  <div class="main-container">
    <div class="text-center space-y-5 mb-[70px]">
      <span data-ns-animate data-delay="0.1" class="badge badge-green">Process</span>
      <div data-ns-animate data-delay="0.2" class="space-y-3">
        <h2>How we’ll work together</h2>
        <p data-afluma-slot="summary" data-ns-animate data-delay="0.3" class="max-w-[610px] mx-auto">
           I follow a process that’s transparent, collaborative, and results-driven—built around
          clear communication and creative problem-solving.
        </p>
      </div>
    </div>
    <div data-ns-animate data-delay="0.4" class="process-steps">
      <div class="max-w-[870px] mx-auto mb-[100px]">
        <div class="relative">
          <div>
            <div
              class="size-[34px] flex items-center justify-center mx-auto rounded-full bg-white drop-shadow-2xl dark:bg-black"
            >
              <figure class="size-7">
                <img data-afluma-slot="primary-media"
                  src="/nexsas-runtime/app-development/images/ns-img-149.png"
                  alt="step"
                  class="w-full h-full object-cover dark:hidden"
                />
                <img
                  src="/nexsas-runtime/app-development/images/ns-img-dark-103.png"
                  alt="step"
                  class="w-full h-full object-cover hidden dark:block"
                />
              </figure>
            </div>
            <div class="h-[320px] lg:h-[380px] w-1 mx-auto bg-stroke-2 dark:bg-stroke-6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-1 h-[0px] step-line"
                viewBox="0 0 2 222"
                fill="none"
              >
                <path
                  d="M1 1L0.99999 221"
                  stroke="url(#paint0_linear_1182_24963_step1)"
                  stroke-width="2"
                  stroke-linecap="round"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_1182_24963_step1"
                    x1="0.5"
                    y1="1"
                    x2="0.49999"
                    y2="221"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#64D9FD" />
                    <stop offset="0.25" stop-color="#7E57FD" />
                    <stop offset="0.5" stop-color="white" />
                    <stop offset="1" stop-color="#B04BFD" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>
          <div
            data-ns-animate
            data-delay="0.3"
            data-instant
            class="card-item absolute lg:left-0 lg:top-0 left-1/2 lg:translate-x-0 lg:translate-y-0 -translate-x-1/2 top-1/2 -translate-y-1/2 max-w-[370px] w-full space-y-3 lg:bg-none dark:bg-background-6 lg:dark:bg-transparent lg:p-0 lg:rounded-none p-6 rounded-[20px] max-sm:bg-background-4"
          >
            <p class="text-tagline-2 text-primary-500">STEP 1</p>
            <div class="space-y-2">
              <h3 class="text-heading-6 lg:text-heading-5">Kickoff call & brand discovery</h3>
              <p>
                We begin by understanding your vision and goals through a detailed discovery call to
                align on the project’s direction.
              </p>
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="size-[34px] flex items-center justify-center mx-auto rounded-full bg-white drop-shadow-2xl dark:bg-black"
            >
              <figure class="size-7">
                <img
                  src="/nexsas-runtime/app-development/images/ns-img-149.png"
                  alt="step"
                  class="w-full h-full object-cover dark:hidden"
                />
                <img
                  src="/nexsas-runtime/app-development/images/ns-img-dark-103.png"
                  alt="step"
                  class="w-full h-full object-cover hidden dark:block"
                />
              </figure>
            </div>
            <div class="h-[320px] lg:h-[380px] w-1 mx-auto bg-stroke-2 dark:bg-stroke-6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-1 h-[0px] step-line"
                viewBox="0 0 2 222"
                fill="none"
              >
                <path
                  d="M1 1L0.99999 221"
                  stroke="url(#paint0_linear_1182_24963_step2)"
                  stroke-width="2"
                  stroke-linecap="round"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_1182_24963_step2"
                    x1="0.5"
                    y1="1"
                    x2="0.49999"
                    y2="221"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#64D9FD" />
                    <stop offset="0.25" stop-color="#7E57FD" />
                    <stop offset="0.5" stop-color="white" />
                    <stop offset="1" stop-color="#B04BFD" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>
          <div
            data-ns-animate
            data-delay="0.3"
            class="card-item absolute lg:right-0 lg:top-0 right-1/2 lg:translate-x-0 lg:translate-y-0 translate-x-1/2 top-1/2 -translate-y-1/2 max-w-[370px] w-full space-y-3 lg:bg-none dark:bg-background-6 lg:dark:bg-transparent lg:p-0 lg:rounded-none p-6 rounded-[20px] max-sm:bg-background-4"
          >
            <p class="text-tagline-2 text-primary-500">STEP 2</p>
            <div class="space-y-2">
              <h3 class="text-heading-6 lg:text-heading-5 max-w-[293px]">
                Strategy, wireframes & creative direction
              </h3>
              <p>
                We begin by understanding your vision and goals through a detailed discovery call to
                align on the project’s direction.
              </p>
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="size-[34px] flex items-center justify-center mx-auto rounded-full bg-white drop-shadow-2xl dark:bg-black"
            >
              <figure class="size-7">
                <img
                  src="/nexsas-runtime/app-development/images/ns-img-149.png"
                  alt="step"
                  class="w-full h-full object-cover dark:hidden"
                />
                <img
                  src="/nexsas-runtime/app-development/images/ns-img-dark-103.png"
                  alt="step"
                  class="w-full h-full object-cover hidden dark:block"
                />
              </figure>
            </div>
            <div class="h-[320px] lg:h-[380px] w-1 mx-auto bg-stroke-2 dark:bg-stroke-6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-1 h-[0px] step-line"
                viewBox="0 0 2 222"
                fill="none"
              >
                <path
                  d="M1 1L0.99999 221"
                  stroke="url(#paint0_linear_1182_24963_step3)"
                  stroke-width="2"
                  stroke-linecap="round"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_1182_24963_step3"
                    x1="0.5"
                    y1="1"
                    x2="0.49999"
                    y2="221"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#64D9FD" />
                    <stop offset="0.25" stop-color="#7E57FD" />
                    <stop offset="0.5" stop-color="white" />
                    <stop offset="1" stop-color="#B04BFD" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>
          <div
            data-ns-animate
            data-delay="0.4"
            class="card-item absolute lg:left-0 lg:top-0 left-1/2 lg:translate-x-0 lg:translate-y-0 -translate-x-1/2 top-1/2 -translate-y-1/2 max-w-[370px] w-full space-y-3 lg:bg-none dark:bg-background-6 lg:dark:bg-transparent lg:p-0 lg:rounded-none p-6 rounded-[20px] max-sm:bg-background-4"
          >
            <p class="text-tagline-2 text-primary-500">STEP 3</p>
            <div class="space-y-2">
              <h3 class="text-heading-6 lg:text-heading-5 max-w-[236px]">
                Design & development in sprints
              </h3>
              <p>
                We begin by understanding your vision and goals through a detailed discovery call to
                align on the project’s direction.
              </p>
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="size-[34px] flex items-center justify-center mx-auto rounded-full bg-white drop-shadow-2xl dark:bg-black"
            >
              <figure class="size-7">
                <img
                  src="/nexsas-runtime/app-development/images/ns-img-149.png"
                  alt="step"
                  class="w-full h-full object-cover dark:hidden"
                />
                <img
                  src="/nexsas-runtime/app-development/images/ns-img-dark-103.png"
                  alt="step"
                  class="w-full h-full object-cover hidden dark:block"
                />
              </figure>
            </div>
            <div class="h-[320px] lg:h-[380px] w-1 mx-auto bg-stroke-2 dark:bg-stroke-6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-1 h-[0px] step-line"
                viewBox="0 0 2 222"
                fill="none"
              >
                <path
                  d="M1 1L0.99999 221"
                  stroke="url(#paint0_linear_1182_24963_step4)"
                  stroke-width="2"
                  stroke-linecap="round"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_1182_24963_step4"
                    x1="0.5"
                    y1="1"
                    x2="0.49999"
                    y2="221"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#64D9FD" />
                    <stop offset="0.25" stop-color="#7E57FD" />
                    <stop offset="0.5" stop-color="white" />
                    <stop offset="1" stop-color="#B04BFD" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>
          <div
            data-ns-animate
            data-delay="0.4"
            class="card-item absolute lg:right-0 lg:top-0 right-1/2 lg:translate-x-0 lg:translate-y-0 translate-x-1/2 top-1/2 -translate-y-1/2 max-w-[370px] w-full space-y-3 lg:bg-none dark:bg-background-6 lg:dark:bg-transparent lg:p-0 lg:rounded-none p-6 rounded-[20px] max-sm:bg-background-4"
          >
            <p class="text-tagline-2 text-primary-500">STEP 4</p>
            <div class="space-y-2">
              <h3 class="text-heading-6 lg:text-heading-5 max-w-[236px]">
                Feedback, refinement & final delivery
              </h3>
              <p>
                We begin by understanding your vision and goals through a detailed discovery call to
                align on the project’s direction.
              </p>
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="size-[34px] flex items-center justify-center mx-auto rounded-full bg-white drop-shadow-2xl dark:bg-black"
            >
              <figure class="size-7">
                <img
                  src="/nexsas-runtime/app-development/images/ns-img-149.png"
                  alt="step"
                  class="w-full h-full object-cover dark:hidden"
                />
                <img
                  src="/nexsas-runtime/app-development/images/ns-img-dark-103.png"
                  alt="step"
                  class="w-full h-full object-cover hidden dark:block"
                />
              </figure>
            </div>
          </div>
          <div
            data-ns-animate
            data-delay="0.5"
            class="card-item absolute lg:left-0 lg:top-0 left-1/2 lg:translate-x-0 lg:translate-y-0 -translate-x-1/2 top-16 max-w-[370px] w-full space-y-3 lg:bg-none dark:bg-background-6 lg:dark:bg-transparent lg:p-0 lg:rounded-none p-6 rounded-[20px] max-sm:bg-background-4"
          >
            <p class="text-tagline-2 text-primary-500">STEP 5</p>
            <div class="space-y-2">
              <h3 class="text-heading-6 lg:text-heading-5 max-w-[203px]">
                Post-launch support & handoff
              </h3>
              <p>
                We begin by understanding your vision and goals through a detailed discovery call to
                align on the project’s direction.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
Process Steps v2 section
===========================-->
<section class="py-[100px] bg-background-1 dark:bg-background-6 space-y-[70px]">
  <div class="main-container space-y-[70px]">
    <div class="space-y-5 max-w-[804px] mx-auto text-center">
      <span data-ns-animate data-delay="0.1" class="badge badge-green">Process</span>
      <div class="space-y-3 text-center">
        <h2 data-ns-animate data-delay="0.2" class="max-w-[624px] mx-auto">
          What are the steps involved in its operation?
        </h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[802px] mx-auto">
          The operation of instantaneous data insights and analytics involves several key steps. It
          begins with data collection, where information is gathered in real-time from various
          sources such as sensors
        </p>
      </div>
    </div>

    <div class="grid grid-cols-12 items-center xl:gap-[100px] lg:gap-20 md:gap-y-20 gap-y-14">
      <div class="col-span-12 xl:col-span-5 lg:col-span-6">
        <div data-ns-animate data-delay="0.4">
          <figure class="max-w-[478px] max-h-[547px] lg:mx-0 mx-auto">
            <img
              src="/nexsas-runtime/app-development/images/ns-img-49.png"
              alt="process"
              class="h-full w-full object-cover dark:hidden block"
            />
            <img
              src="/nexsas-runtime/app-development/images/ns-img-dark-28.png"
              alt="process"
              class="h-full w-full object-cover hidden dark:block"
            />
          </figure>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-7 lg:col-span-6">
        <div class="space-y-5">
          <div
            data-ns-animate
            data-delay="0.5"
            class="sm:max-w-[596px] lg:mx-0 mx-auto sm:py-6 py-5 sm:px-[34px] px-7 bg-background-3 dark:bg-background-7 sm:rounded-[20px] rounded-2xl flex items-start sm:gap-[22px] gap-4"
          >
            <div>
              <div
                class="size-10 rounded-full bg-ns-yellow text-tagline-1 font-semibold text-secondary flex items-center justify-center shrink-0"
              >
                1
              </div>
            </div>
            <div class="space-y-1">
              <h3 class="text-lg font-medium leading-[27px] text-scondary">Choose domain</h3>
              <p>
                Choose a domain name that reflects your website's purpose, content, or the nature of
                your business.
              </p>
            </div>
          </div>
          <div
            data-ns-animate
            data-delay="0.6"
            class="card-item sm:max-w-[596px] lg:mx-0 mx-auto sm:py-6 py-5 sm:px-[34px] px-7 bg-background-3 dark:bg-background-7 sm:rounded-[20px] rounded-2xl flex items-start sm:gap-[22px] gap-4"
          >
            <div
              class="size-10 rounded-full bg-ns-green text-tagline-1 font-semibold text-secondary flex items-center justify-center shrink-0"
            >
              2
            </div>
            <div class="space-y-1">
              <h3 class="text-lg font-medium leading-[27px] text-scondary">Login/register</h3>
              <p>
                Take the first step towards creating your website and reaching a wider audience by
                registering today.
              </p>
            </div>
          </div>
          <div
            data-ns-animate
            data-delay="0.7"
            class="card-item sm:max-w-[596px] lg:mx-0 mx-auto sm:py-6 py-5 sm:px-[34px] px-7 bg-background-3 dark:bg-background-7 sm:rounded-[20px] rounded-2xl flex items-start sm:gap-[22px] gap-4"
          >
            <div
              class="size-10 rounded-full bg-ns-red text-tagline-1 font-semibold text-secondary flex items-center justify-center shrink-0"
            >
              3
            </div>
            <div class="space-y-1">
              <h3 class="text-lg font-medium leading-[27px] text-scondary">Make payment</h3>
              <p>
                We offer a variety of secure payment methods to make your payment process convenient
                and hassle-free.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
CTA v1 section
===========================-->
<section class="py-[50px] md:py-20 lg:py-28 dark:bg-background-5 bg-white" aria-label="Use Case Overview">
  <div class="main-container">
    <div class="flex items-center flex-col lg:flex-row justify-between">
      <div
        class="xl:max-w-[650px] lg:max-w-[476px] max-[400px]:max-w-[300px] w-full space-y-5 text-center lg:text-left"
      >
        <span data-ns-animate data-delay="0.3" class="badge badge-green badge-cyan-v2"
          >Get started</span
        >
        <div class="space-y-3">
          <h2
            data-ns-animate
            data-delay="0.4"
            class="text-secondary dark:text-accent text-heading-5 sm:text-heading-4 lg:text-heading-2"
          >
            Build a complete website using the assistance
            <span class="text-primary-500 hidden">{=$span-text}</span>
          </h2>
          <p data-ns-animate data-delay="0.5">Start your free trial today and see your ideas come to life easily and creatively.</p>
        </div>
      </div>

      <div
        class="lg:basis-[466px] space-y-6 md:ml-0 xl:ml-[100px] pt-[40px] lg:pt-[67px] w-full sm:w-[80%] md:w-[60%]"
      >
        <form
          data-ns-animate
          data-delay="0.6"
          action="#"
          method="post"
          class="flex items-center flex-col gap-5 sm:flex-row justify-start lg:gap-3"
        >
          <input
            type="email"
            name="email"
            id="userEmail-cta-v1"
            placeholder="Enter your email"
            required
            class="px-[18px] shadow-1 h-12 py-3 placeholder:text-secondary/50 rounded-full border border-stroke-1 lg:max-w-[340px] md:w-[71%] w-full max-[376px]:w-full dark:border-stroke-7 dark:placeholder:text-accent/60 focus:outline-none focus:border-primary-600 dark:focus:border-primary-400 dark:text-accent placeholder:font-normal font-normal"
          />

          <button
            type="submit"
            class="btn btn-md btn-primary h-12 w-full sm:w-[28%] lg:w-auto hover:btn-secondary dark:hover:btn-accent"
          >
            <span>Get started</span>
          </button>
        </form>
        <ul
          class="flex flex-row items-center justify-center gap-x-4 sm:gap-x-6 sm:gap-y-0 gap-y-5 lg:justify-start"
        >
          <li data-ns-animate data-delay="0.7" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">No credit card required</p>
          </li>
          <li data-ns-animate data-delay="0.8" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">14-Day free trial</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

    </main>
    <!-- =========================
Footer v3
===========================-->


  