
    

    <main>
      <!-- =========================
Refund guidelines section
===========================-->
<section class="pt-32 pb-[100px] sm:pt-36 md:pt-42 md:pb-[200px] xl:pt-[180px]">
  <div class="main-container">
    <div class="refund-policy space-y-[70px]">
      <div data-ns-animate data-delay="0.3" class="space-y-3">
        <h2>Return and refund guidelines</h2>
        <p data-afluma-slot="summary">
          At Afluma, we are committed to providing you with the best possible service and
          experience. However, if for any reason our platform does not meet your expectations, we
          offer a simple and hassle-free refund policy.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="space-y-3">
        <h2>14-Day money-back guarantee</h2>
        <p>
          We are confident that you will love using Afluma. <br />
          Still, if you are not fully satisfied, we offer a full refund within 14 days of your
          original purchase — no questions asked.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="space-y-3">
        <h2>Conditions for refund</h2>
        <p>You are eligible for a full refund if</p>
        <ul
          class="text-tagline-1 text-secondary/60 dark:text-accent/60 mt-6 list-inside space-y-3 font-normal"
        >
          <li>You request a refund within 14 days from the date of purchase.</li>
          <li>You can provide a valid reason if requested (optional but helps us improve).</li>
          <li>You request a refund after the 14-day period.</li>
          <li>You have violated our Terms and Conditions.</li>
          <li>You simply decide not to use the product anymore without a valid issue.</li>
          <li>You requested a refund for issues already resolved by our support team.</li>
        </ul>
      </div>
      <div data-ns-animate data-delay="0.4" class="space-y-3">
        <h2>How to request a refund</h2>
        <p>Simply follow these easy steps</p>
        <ol class="mt-8 mb-6 space-y-8">
          <li data-ns-animate data-delay="0.5">
            <div
              class="bg-background-1 dark:bg-background-6 flex max-w-[596px] items-start gap-4 rounded-2xl px-7 py-5 sm:gap-[22px] sm:rounded-[20px] sm:px-[34px] sm:py-6"
            >
              <div
                class="bg-ns-yellow text-tagline-1 text-secondary flex size-10 shrink-0 items-center justify-center rounded-full font-semibold"
              >
                1
              </div>
              <div class="space-y-1">
                <p
                  class="text-tagline-1 text-secondary dark:text-accent leading-[27px] font-medium sm:text-lg"
                >
                  Submit a support ticket through our [Contact Page].
                </p>
                <p>
                  If you're experiencing any issues or need assistance, our support team is here to
                  help. Simply visit our [Contact Page] and fill out the support ticket form with
                  the relevant details.
                </p>
              </div>
            </div>
          </li>
          <li data-ns-animate data-delay="0.6">
            <div
              class="bg-background-1 dark:bg-background-6 flex max-w-[596px] items-start gap-4 rounded-2xl px-7 py-5 sm:gap-[22px] sm:rounded-[20px] sm:px-[34px] sm:py-6"
            >
              <div
                class="bg-ns-green text-tagline-1 text-secondary flex size-10 shrink-0 items-center justify-center rounded-full font-semibold"
              >
                2
              </div>
              <div class="space-y-1">
                <p
                  class="text-tagline-1 text-secondary dark:text-accent leading-[27px] font-medium sm:text-lg"
                >
                  Share your order ID, email, and a quick description.
                </p>
                <p>
                  Once we receive this information, our team will review it and get back to you as
                  soon as possible. Thank you for your cooperation!
                </p>
              </div>
            </div>
          </li>
          <li data-ns-animate data-delay="0.7">
            <div
              class="bg-background-1 dark:bg-background-6 flex max-w-[596px] items-start gap-4 rounded-2xl px-7 py-5 sm:gap-[22px] sm:rounded-[20px] sm:px-[34px] sm:py-6"
            >
              <div
                class="bg-ns-cyan text-tagline-1 text-secondary flex size-10 shrink-0 items-center justify-center rounded-full font-semibold"
              >
                3
              </div>
              <div class="space-y-1">
                <p
                  class="text-tagline-1 text-secondary dark:text-accent leading-[27px] font-medium sm:text-lg"
                >
                  Our team will review and process your refund request.
                </p>
                <p>
                  Thank you for reaching out. We’ve received your refund request and our team is
                  currently reviewing the details.
                </p>
              </div>
            </div>
          </li>
        </ol>
        <p data-ns-animate data-delay="0.7">
          Refunds will be issued to the
          <span class="text-secondary dark:text-accent">original payment method</span>
          used at checkout.
        </p>
      </div>
      <div data-ns-animate data-delay="0.8" class="space-y-3">
        <h2>Refund processing time</h2>
        <p>
          Once your refund is approved, it may take 5–10 business days for the amount to reflect in
          your bank statement, depending on your payment provider.
        </p>
      </div>
      <div data-ns-animate data-delay="0.9" class="space-y-3">
        <h2>Non-refundable situations</h2>
        <p>
          Afluma reserves the right to suspend or terminate any user account without prior notice
          for reasons including but not limited to
        </p>
        <ul
          class="text-tagline-1 text-secondary/60 dark:text-accent/60 mt-6 list-inside space-y-3 font-normal"
        >
          <li>Purchases made through unauthorized sources.</li>
          <li>Requests based on lack of features not available in the product description.</li>
          <li>Downgrades from a higher-tier plan after extensive usage.</li>
        </ul>
      </div>
      <div data-ns-animate data-delay="0.8" class="space-y-3">
        <h2>We appreciate your feedback</h2>
        <p>
          If you choose to request a refund, we would be grateful if you could let us know why. Your
          feedback helps us improve Afluma for future users!
        </p>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
CTA v1 section
===========================-->
<section class="py-[50px] md:py-20 lg:py-28 dark:bg-background-5 bg-white" aria-label="Use Case Overview">
  <div class="main-container">
    <div class="flex items-center flex-col lg:flex-row justify-between">
      <div
        class="xl:max-w-[650px] lg:max-w-[476px] max-[400px]:max-w-[300px] w-full space-y-5 text-center lg:text-left"
      >
        <span data-ns-animate data-delay="0.3" class="badge badge-green badge-yellow-v2"
          >Get started</span
        >
        <div class="space-y-3">
          <h2
            data-ns-animate
            data-delay="0.4"
            class="text-secondary dark:text-accent text-heading-5 sm:text-heading-4 lg:text-heading-2"
          >
            Ready to start earning with Afluma?
            <span class="text-primary-500 hidden">{=$span-text}</span>
          </h2>
          <p data-ns-animate data-delay="0.5">If you have any questions, feel free to reach out to our team.</p>
        </div>
      </div>

      <div
        class="lg:basis-[466px] space-y-6 md:ml-0 xl:ml-[100px] pt-[40px] lg:pt-[67px] w-full sm:w-[80%] md:w-[60%]"
      >
        <form
          data-ns-animate
          data-delay="0.6"
          action="#"
          method="post"
          class="flex items-center flex-col gap-5 sm:flex-row justify-start lg:gap-3"
        >
          <input
            type="email"
            name="email"
            id="userEmail-cta-v1"
            placeholder="Enter your email"
            required
            class="px-[18px] shadow-1 h-12 py-3 placeholder:text-secondary/50 rounded-full border border-stroke-1 lg:max-w-[340px] md:w-[71%] w-full max-[376px]:w-full dark:border-stroke-7 dark:placeholder:text-accent/60 focus:outline-none focus:border-primary-600 dark:focus:border-primary-400 dark:text-accent placeholder:font-normal font-normal"
          />

          <button
            type="submit"
            class="btn btn-md btn-primary h-12 w-full sm:w-[28%] lg:w-auto hover:btn-secondary dark:hover:btn-accent"
          >
            <span>Get started</span>
          </button>
        </form>
        <ul
          class="flex flex-row items-center justify-center gap-x-4 sm:gap-x-6 sm:gap-y-0 gap-y-5 lg:justify-start"
        >
          <li data-ns-animate data-delay="0.7" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">No credit card required</p>
          </li>
          <li data-ns-animate data-delay="0.8" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">14-Day free trial</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

    </main>

    <!-- =========================
Footer v3
===========================-->


  