
    

    <main>
      <!-- =========================
Content  section
===========================-->
<section class="pt-32 pb-24 sm:pt-36 md:pt-42 md:pb-36 lg:pb-44 xl:pt-[180px] xl:pb-[200px]">
  <div class="main-container">
    <div class="flex items-start lg:gap-[72px]">
      <div class="w-full max-w-full lg:max-w-[767px]">
        <div class="services-details-content mb-[72px]">
          <h2 data-ns-animate data-delay="0.3" id="track-conversions">Track conversions</h2>
          <p data-afluma-slot="summary" data-ns-animate data-delay="0.4">
            Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
            Adipiscing viverra vulputate curabitur est.
          </p>
          <p data-ns-animate data-delay="0.5">
            Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
            suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper
            commodo eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel mi
            blandit.
          </p>
          <p data-ns-animate data-delay="0.6">
            Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
            Porttitor in rhoncus magna augue adipiscing.
          </p>
          <figure
            data-ns-animate
            data-delay="0.6"
            data-instant
            class="max-w-[767px] overflow-hidden rounded-xl"
          >
            <img data-afluma-slot="primary-media"
              src="/nexsas-runtime/app-development/images/ns-img-397.png"
              alt="service-details"
              class="size-full object-cover"
            />
          </figure>

          <h2 data-ns-animate data-delay="0.1" id="sales-management">What’s included</h2>
          <p data-ns-animate data-delay="0.2">
            Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
            suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper
            commodo eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel mi
            blandit.
          </p>
          <p data-ns-animate data-delay="0.3">
            Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
            Porttitor in rhoncus magna augue adipiscing.
          </p>

          <!-- =========================
Content list section
===========================-->
<ul class="space-y-4 pt-2">
  <li data-ns-animate data-delay="0.1" class="flex items-center gap-3">
    <span class="size-5 bg-secondary dark:bg-accent rounded-full flex items-center justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="7"
        viewBox="0 0 10 7"
        fill="none"
        aria-hidden="true"
        class="fill-white dark:fill-secondary"
      >
        <path
          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
        ></path>
      </svg>
    </span>
    <span class="text-tagline-1 font-normal text-secondary dark:text-accent">
      Drag-and-drop automation builder
    </span>
  </li>
  <li data-ns-animate data-delay="0.2" class="flex items-center gap-3">
    <span class="size-5 bg-secondary dark:bg-accent rounded-full flex items-center justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="7"
        viewBox="0 0 10 7"
        fill="none"
        aria-hidden="true"
        class="fill-white dark:fill-secondary"
      >
        <path
          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
        ></path>
      </svg>
    </span>

    <span class="text-tagline-1 font-normal text-secondary dark:text-accent">
      Trigger-based Actions
    </span>
  </li>
  <li data-ns-animate data-delay="0.3" class="flex items-center gap-3">
    <span class="size-5 bg-secondary dark:bg-accent rounded-full flex items-center justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="7"
        viewBox="0 0 10 7"
        fill="none"
        aria-hidden="true"
        class="fill-white dark:fill-secondary"
      >
        <path
          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
        ></path>
      </svg>
    </span>

    <span class="text-tagline-1 font-normal text-secondary dark:text-accent">
      Multi-step workflows
    </span>
  </li>
  <li data-ns-animate data-delay="0.4" class="flex items-center gap-3">
    <span class="size-5 bg-secondary dark:bg-accent rounded-full flex items-center justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="7"
        viewBox="0 0 10 7"
        fill="none"
        aria-hidden="true"
        class="fill-white dark:fill-secondary"
      >
        <path
          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
        ></path>
      </svg>
    </span>

    <span class="text-tagline-1 font-normal text-secondary dark:text-accent">
      Pre-built templates
    </span>
  </li>
  <li data-ns-animate data-delay="0.5" class="flex items-center gap-3">
    <span class="size-5 bg-secondary dark:bg-accent rounded-full flex items-center justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="7"
        viewBox="0 0 10 7"
        fill="none"
        aria-hidden="true"
        class="fill-white dark:fill-secondary"
      >
        <path
          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
        ></path>
      </svg>
    </span>

    <span class="text-tagline-1 font-normal text-secondary dark:text-accent">
      Real-time logs & error handling
    </span>
  </li>
</ul>


          <figure data-ns-animate data-delay="0.3" class="max-w-[767px] overflow-hidden rounded-xl">
            <img
              src="/nexsas-runtime/app-development/images/ns-img-398.png"
              alt="service-details"
              class="size-full object-cover"
            />
          </figure>

          <h2 data-ns-animate data-delay="0.2" id="use-cases">Use cases</h2>
          <p data-ns-animate data-delay="0.3">
            Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
            suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper
            commodo eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel mi
            blandit.
          </p>
          <p data-ns-animate data-delay="0.4">
            Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
            Porttitor in rhoncus magna augue adipiscing.
          </p>

          <!-- =========================
Content list v2  section
===========================-->
<ul class="space-y-4 pt-2 list-disc list-inside">
  <li
    data-ns-animate
    data-delay="0.5"
    class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
  >
    Automatically send onboarding emails after a new user signs up
  </li>
  <li
    data-ns-animate
    data-delay="0.6"
    class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
  >
    Trigger invoice generation when a deal closes in your CRM
  </li>
  <li
    data-ns-animate
    data-delay="0.8"
    class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
  >
    Update dashboards when new data is uploaded
  </li>
  <li
    data-ns-animate
    data-delay="0.9"
    class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
  >
    Assign tasks to the right team members based on project status
  </li>
</ul>


          <figure data-ns-animate data-delay="0.4" class="max-w-[767px] overflow-hidden rounded-xl">
            <img src="/nexsas-runtime/app-development/images/ns-img-399.jpg" alt="service-details" class="block dark:hidden" />
            <img
              src="/nexsas-runtime/app-development/images/ns-img-dark-216.jpg"
              alt="service-details"
              class="hidden dark:block"
            />
          </figure>

          <h2 data-ns-animate data-delay="0.2" id="real-time-analytics">
            Built-in security & controls
          </h2>
          <p data-ns-animate data-delay="0.3">
            Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
            suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper
            commodo eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel mi
            blandit.
          </p>
          <p data-ns-animate data-delay="0.4">
            Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
            Porttitor in rhoncus magna augue adipiscing.
          </p>

          <!-- =========================
Content list v3  section
===========================-->
<ul class="space-y-4 pt-2">
  <li data-ns-animate data-delay="0.1" class="flex items-center gap-3">
    <div>
      <span class="ns-shape-7 text-[36px] text-secondary dark:text-accent"></span>
    </div>
    <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
      Role-based permissions
    </span>
  </li>
  <li data-ns-animate data-delay="0.2" class="flex items-center gap-3">
    <div>
      <span class="ns-shape-14 text-[36px] text-secondary dark:text-accent"></span>
    </div>
    <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
      Encrypted data processing
    </span>
  </li>
  <li data-ns-animate data-delay="0.3" class="flex items-center gap-3">
    <div>
      <span class="ns-shape-11 text-[36px] text-secondary dark:text-accent"></span>
    </div>
    <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
      Full audit logs
    </span>
  </li>
  <li data-ns-animate data-delay="0.4" class="flex items-center gap-3">
    <div>
      <span class="ns-shape-32 text-[36px] text-secondary dark:text-accent"></span>
    </div>
    <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
      GDPR & SOC 2 compliant
    </span>
  </li>
</ul>

        </div>
        <div class="mt-[70px] space-y-14" id="live-data-insights">
          <div class="space-y-3">
            <h4 data-ns-animate data-delay="0.1" class="text-heading-2">What our users say</h4>
            <p data-ns-animate data-delay="0.2" class="text-tagline-1">
              “Afluma delivered our entire platform ahead of schedule—flawless execution and real
              partnership.”
            </p>
          </div>
          <div data-ns-animate data-delay="0.1" class="bg-secondary space-y-6 rounded-[20px] p-8">
            <figure
              class="size-16 overflow-hidden rounded-full bg-linear-[180deg,#ffffff_0%,#83e7ee_100%]"
            >
              <img class="size-full object-cover" src="/nexsas-runtime/app-development/images/ns-avatar-1.png" alt="avatar" />
            </figure>
            <blockquote>
              <p data-ns-animate data-delay="0.3" class="text-white">
                “Workflow Automation helped us eliminate hours of manual work each week. Now, our
                ops team can focus on strategic initiatives instead of button-clicking.”
              </p>
            </blockquote>
            <div>
              <p data-ns-animate data-delay="0.4" class="text-lg font-medium text-white">
                John Smith
              </p>
              <p data-ns-animate data-delay="0.5" class="text-tagline-2 text-accent/60 font-normal">
                Lorem ipsum
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Table of Contents -->
      <div
        class="table-of-contents hidden w-full lg:sticky lg:top-20 lg:block lg:max-w-[449px]"
        data-ns-animate
        data-delay="0.3"
      >
        <div class="bg-background-1 dark:bg-background-6 w-full space-y-4 rounded-[20px] p-11">
          <h3 class="text-heading-5">Categories</h3>
          <ul class="table-of-list w-full">
            <li>
              <a data-afluma-slot="primary-action"
                href="#track-conversions"
                class="lenis-scroll-to border-b-stroke-4 dark:border-b-stroke-7 flex items-center justify-between border-b py-4"
              >
                <span class="text-secondary dark:text-accent text-lg leading-[27px] font-medium">
                  Track conversions
                </span>

                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="25"
                    viewBox="0 0 24 25"
                    fill="none"
                  >
                    <path
                      d="M10 8.5L14 12.5L10 16.5"
                      class="stroke-secondary dark:stroke-accent"
                      stroke-opacity="0.6"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a
                href="#sales-management"
                class="lenis-scroll-to border-b-stroke-4 dark:border-b-stroke-7 flex items-center justify-between border-b py-4"
              >
                <span
                  class="text-secondary/60 dark:text-accent/60 text-lg leading-[27px] font-normal"
                >
                  Sales management
                </span>
                <span class="invisible">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="25"
                    viewBox="0 0 24 25"
                    fill="none"
                  >
                    <path
                      d="M10 8.5L14 12.5L10 16.5"
                      class="stroke-secondary dark:stroke-accent"
                      stroke-opacity="0.6"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a
                href="#use-cases"
                class="lenis-scroll-to border-b-stroke-4 dark:border-b-stroke-7 flex items-center justify-between border-b py-4"
              >
                <span
                  class="text-secondary/60 dark:text-accent/60 text-lg leading-[27px] font-normal"
                >
                  Use cases
                </span>
                <span class="invisible">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="25"
                    viewBox="0 0 24 25"
                    fill="none"
                  >
                    <path
                      d="M10 8.5L14 12.5L10 16.5"
                      class="stroke-secondary dark:stroke-accent"
                      stroke-opacity="0.6"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a
                href="#real-time-analytics"
                class="lenis-scroll-to border-b-stroke-4 dark:border-b-stroke-7 flex items-center justify-between border-b py-4"
              >
                <span
                  class="text-secondary/60 dark:text-accent/60 text-lg leading-[27px] font-normal"
                >
                  Real-time analytics
                </span>
                <span class="invisible">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="25"
                    viewBox="0 0 24 25"
                    fill="none"
                  >
                    <path
                      d="M10 8.5L14 12.5L10 16.5"
                      class="stroke-secondary dark:stroke-accent"
                      stroke-opacity="0.6"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a
                href="#live-data-insights"
                class="lenis-scroll-to flex items-center justify-between py-4"
              >
                <span
                  class="text-secondary/60 dark:text-accent/60 text-lg leading-[27px] font-normal"
                >
                  Live data insights
                </span>
                <span class="invisible">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="25"
                    viewBox="0 0 24 25"
                    fill="none"
                  >
                    <path
                      d="M10 8.5L14 12.5L10 16.5"
                      class="stroke-secondary dark:stroke-accent"
                      stroke-opacity="0.6"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
CTA v1 section
===========================-->
<section class="py-[50px] md:py-20 lg:py-28 dark:bg-background-6 bg-white" aria-label="Use Case Overview">
  <div class="main-container">
    <div class="flex items-center flex-col lg:flex-row justify-between">
      <div
        class="xl:max-w-[650px] lg:max-w-[476px] max-[400px]:max-w-[300px] w-full space-y-5 text-center lg:text-left"
      >
        <span data-ns-animate data-delay="0.3" class="badge badge-green hidden"
          >{=$badge-text}</span
        >
        <div class="space-y-3">
          <h2
            data-ns-animate
            data-delay="0.4"
            class="text-secondary dark:text-accent text-heading-5 sm:text-heading-4 lg:text-heading-2"
          >
            Build a complete website using the
            <span class="text-primary-500 {=$span-class}">assistance</span>
          </h2>
          <p data-ns-animate data-delay="0.5">Start your free trial today and see your ideas come to life easily and creatively.</p>
        </div>
      </div>

      <div
        class="lg:basis-[466px] space-y-6 md:ml-0 xl:ml-[100px] pt-[40px] lg:pt-[67px] w-full sm:w-[80%] md:w-[60%]"
      >
        <form
          data-ns-animate
          data-delay="0.6"
          action="#"
          method="post"
          class="flex items-center flex-col gap-5 sm:flex-row justify-start lg:gap-3"
        >
          <input
            type="email"
            name="email"
            id="userEmail-cta-v1"
            placeholder="Enter your email"
            required
            class="px-[18px] shadow-1 h-12 py-3 placeholder:text-secondary/50 rounded-full border border-stroke-1 lg:max-w-[340px] md:w-[71%] w-full max-[376px]:w-full dark:border-stroke-7 dark:placeholder:text-accent/60 focus:outline-none focus:border-primary-600 dark:focus:border-primary-400 dark:text-accent placeholder:font-normal font-normal"
          />

          <button
            type="submit"
            class="btn btn-md btn-primary h-12 w-full sm:w-[28%] lg:w-auto hover:btn-secondary dark:hover:btn-accent"
          >
            <span>Get started</span>
          </button>
        </form>
        <ul
          class="flex flex-row items-center justify-center gap-x-4 sm:gap-x-6 sm:gap-y-0 gap-y-5 lg:justify-start"
        >
          <li data-ns-animate data-delay="0.7" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">No credit card required</p>
          </li>
          <li data-ns-animate data-delay="0.8" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">14-Day free trial</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

    </main>
    <!-- =========================
Footer v3
===========================-->


  