
    

    <main>
      <!-- =========================
Service section
===========================-->
<section
  class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32"
>
  <div class="main-container">
    <div class="text-center space-y-3 mb-[70px]">
      <span data-ns-animate data-delay="0.2" class="badge badge-green">Our services</span>
      <h2 data-ns-animate data-delay="0.3" class="xl:max-w-[878px] max-w-[600px] mx-auto">
        Leading companies around the globe rely on nexSaas.
      </h2>
      <p data-afluma-slot="summary" data-ns-animate data-delay="0.4" class="xl:max-w-[700px] max-w-[500px] mx-auto">
        Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's
        not Latin, though it looks like it
      </p>
    </div>
    <div class="grid grid-cols-12 gap-y-12 md:gap-14 lg:gap-[72px]">
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6">
          <div class="flex items-center md:items-start md:justify-start justify-center">
            <span class="ns-shape-2 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-2 md:text-left text-center">
            <h3 class="text-heading-5">Real-time analytics</h3>
            <p>Gain deep insights into your contacts at a glance and easily track.</p>
          </div>
          <div class="md:text-left text-center">
            <a data-afluma-slot="primary-action"
              href="./service-details.html"
              class="btn btn-white dark:btn-transparent dark:hover:btn-accent hover:btn-secondary btn-md"
              ><span>Sign up free</span></a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6">
          <div class="flex items-center md:items-start md:justify-start justify-center">
            <span class="ns-shape-3 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-2 md:text-left text-center">
            <h3 class="text-heading-5">Track conversions</h3>
            <p>Gain deep insights into your contacts at a glance and easily track.</p>
          </div>
          <div class="md:text-left text-center">
            <a
              href="./service-details.html"
              class="btn btn-white dark:btn-transparent dark:hover:btn-accent hover:btn-secondary btn-md"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.7" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6">
          <div class="flex items-center md:items-start md:justify-start justify-center">
            <span class="ns-shape-4 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-2 md:text-left text-center">
            <h3 class="text-heading-5">Sales management</h3>
            <p>Gain deep insights into your contacts at a glance and easily track.</p>
          </div>
          <div class="md:text-left text-center">
            <a
              href="./service-details.html"
              class="btn btn-white dark:btn-transparent dark:hover:btn-accent hover:btn-secondary btn-md"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.8" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6">
          <div class="flex items-center md:items-start md:justify-start justify-center">
            <span class="ns-shape-5 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-2 md:text-left text-center">
            <h3 class="text-heading-5">Track conversions</h3>
            <p>Gain deep insights into your contacts at a glance and easily track.</p>
          </div>
          <div class="md:text-left text-center">
            <a
              href="./service-details.html"
              class="btn btn-white dark:btn-transparent dark:hover:btn-accent hover:btn-secondary btn-md"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.9" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6">
          <div class="flex items-center md:items-start md:justify-start justify-center">
            <span class="ns-shape-6 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-2 md:text-left text-center">
            <h3 class="text-heading-5">Real-time analytics</h3>
            <p>Gain deep insights into your contacts at a glance and easily track.</p>
          </div>
          <div class="md:text-left text-center">
            <a
              href="./service-details.html"
              class="btn btn-white dark:btn-transparent dark:hover:btn-accent hover:btn-secondary btn-md"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="1.0" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6">
          <div class="flex items-center md:items-start md:justify-start justify-center">
            <span class="ns-shape-7 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-2 md:text-left text-center">
            <h3 class="text-heading-5">Track conversions</h3>
            <p>Gain deep insights into your contacts at a glance and easily track.</p>
          </div>
          <div class="md:text-left text-center">
            <a
              href="./service-details.html"
              class="btn btn-white dark:btn-transparent dark:hover:btn-accent hover:btn-secondary btn-md"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="1.1" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6">
          <div class="flex items-center md:items-start md:justify-start justify-center">
            <span class="ns-shape-8 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-2 md:text-left text-center">
            <h3 class="text-heading-5">Monitor conversion rates</h3>
            <p>Gain deep insights into your contacts at a glance and easily track.</p>
          </div>
          <div class="md:text-left text-center">
            <a
              href="./service-details.html"
              class="btn btn-white dark:btn-transparent dark:hover:btn-accent hover:btn-secondary btn-md"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="1.2" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6">
          <div class="flex items-center md:items-start md:justify-start justify-center">
            <span class="ns-shape-9 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-2 md:text-left text-center">
            <h3 class="text-heading-5">Live data insights</h3>
            <p>Gain deep insights into your contacts at a glance and easily track.</p>
          </div>
          <div class="md:text-left text-center">
            <a
              href="./service-details.html"
              class="btn btn-white dark:btn-transparent dark:hover:btn-accent hover:btn-secondary btn-md"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="1.3" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6">
          <div class="flex items-center md:items-start md:justify-start justify-center">
            <span class="ns-shape-10 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-2 md:text-left text-center">
            <h3 class="text-heading-5">Measure conversion metrics</h3>
            <p>Gain deep insights into your contacts at a glance and easily track.</p>
          </div>
          <div class="md:text-left text-center">
            <a
              href="./service-details.html"
              class="btn btn-white dark:btn-transparent dark:hover:btn-accent hover:btn-secondary btn-md"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
Integration section
===========================-->
<section
  class="bg-background-2 dark:bg-background-5 pt-[100px] lg:pt-[200px] pb-[100px] overflow-hidden"
>
  <div class="main-container">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 items-center justify-center lg:gap-[100px] md:gap-y-20 sm:gap-y-10 gap-y-28 lg:mb-[120px]"
    >
      <div class="max-lg:order-0">
        <!--Integration Images-->
        <div class="relative z-10 inline-block max-lg:left-1/2 max-lg:-translate-x-1/2">
          <figure data-ns-animate data-delay="0.2" class="max-w-[358px] rounded-[20px]">
            <img data-afluma-slot="primary-media"
              src="/nexsas-runtime/app-development/images/ns-img-57.png"
              alt="about-data-integration"
              class="size-full dark:hidden rounded-[20px] object-cover"
            />
            <img
              src="/nexsas-runtime/app-development/images/ns-img-dark-35.png"
              alt="about-data-integration"
              class="size-full hidden dark:inline-block rounded-[20px] object-cover"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.3"
            data-direction="right"
            class="absolute max-sm:w-[200px] md:w-[250px] lg:w-[260px] xl:w-auto -top-12 -right-14 sm:-top-[90px] sm:-right-[200px] md:-right-[150px] lg:-right-[150px] xl:-right-[200px] rounded-2xl overflow-hidden"
          >
            <img
              src="/nexsas-runtime/app-development/images/ns-img-58.svg"
              alt="about-data-integration"
              class="size-full object-cover block dark:hidden"
            />
            <img
              src="/nexsas-runtime/app-development/images/ns-img-dark-36.svg"
              alt="about-data"
              class="size-full object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.4"
            data-direction="right"
            class="absolute max-sm:w-[130px] bottom-12 -right-14 sm:bottom-[85px] sm:-right-[200px] md:-right-[150px] lg:-right-[150px] xl:-right-[200px] -z-10 rounded-2xl overflow-hidden"
          >
            <img
              src="/nexsas-runtime/app-development/images/ns-img-59.svg"
              alt="about-data-integration"
              class="size-full object-cover block dark:hidden"
            />
            <img
              src="/nexsas-runtime/app-development/images/ns-img-dark-37.svg"
              alt="about-data-integration"
              class="size-full object-cover hidden dark:inline-block"
            />
          </figure>
        </div>
      </div>
      <!--Integration Data-->
      <div class="pt-5 max-lg:order-1">
        <div class="max-w-[592px] mx-auto lg:mx-0 lg:text-left text-center lg:max-w-full">
          <div class="space-y-5 mb-8">
            <span data-ns-animate data-delay="0.2" class="badge badge-green mb-5">
              Data integrations
            </span>
            <div class="space-y-3 mb-8">
              <h2 data-ns-animate data-delay="0.3" class="max-w-[592px] mx-auto lg:mx-0">
                A clear vision is essential for understanding wealth dynamics.
              </h2>
              <p data-ns-animate data-delay="0.4">
                A clear vision is essential for understanding wealth dynamics because it provides
                direction, purpose, and clarity in navigating financial growth and sustainability.
              </p>
            </div>
          </div>
          <ul class="max-sm:flex-col flex sm:items-start items-center gap-6 mb-14">
            <li data-ns-animate data-delay="0.5" class="flex items-center gap-2">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <path
                  d="M15.1875 5.0625L7.3125 12.9371L3.375 9"
                  class="stroke-secondary dark:stroke-accent"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-secondary font-medium text-tagline-1 dark:text-accent/60"
                >On demand support</span
              >
            </li>
            <li data-ns-animate data-delay="0.6" class="flex items-center gap-2">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <path
                  d="M15.1875 5.0625L7.3125 12.9371L3.375 9"
                  class="stroke-secondary dark:stroke-accent"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-secondary font-medium text-tagline-1 dark:text-accent/60"
                >Information Sharing</span
              >
            </li>
            <li data-ns-animate data-delay="0.7" class="flex items-center gap-2">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <path
                  d="M15.1875 5.0625L7.3125 12.9371L3.375 9"
                  class="stroke-secondary dark:stroke-accent"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-secondary font-medium text-tagline-1 dark:text-accent/60"
                >Cloud Technology</span
              >
            </li>
          </ul>
          <div data-ns-animate data-delay="0.8">
            <a
              href="./integration.html"
              class="btn hover:btn-primary btn-xl btn-secondary dark:btn-accent"
            >
              <span>Start Your Journey</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
Use Case section
===========================-->
<section class="pt-[100px] pb-[100px] xl:pb-[200px] bg-background-2 dark:bg-background-5">
  <div class="main-container">
    <div
      class="flex lg:items-end items-center lg:flex-row flex-col lg:gap-0 gap-4 justify-between mb-[70px]"
    >
      <div class="flex-1 lg:text-left text-center">
        <div class="space-y-3">
          <span data-ns-animate data-delay="0.1" class="badge badge-green">Use cases</span>
          <h2 data-ns-animate data-delay="0.2" class="max-w-[518px]">
            How We Connect with Customers
          </h2>
        </div>
      </div>
      <div class="flex-1 lg:text-left text-center">
        <div>
          <p data-ns-animate data-delay="0.3" class="max-w-[518px] lg:mx-0 mx-auto">
            Explore the ways our innovative solutions improve communication and boost efficiency in
            your organization. From streamlined workflows to enhanced collaboration tools, we
            provide everything you need to succeed.
          </p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 lg:gap-8 gap-y-14">
      <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-4">
        <div class="space-y-6">
          <div class="max-lg:text-center">
            <span class="ns-shape-32 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-1 lg:text-left text-center">
            <h3 class="text-heading-5">Web & mobile apps</h3>
            <p class="max-w-[337px] lg:mx-0 mx-auto">
              Engage visitors with real-time chat on your website and mobile apps.
            </p>
          </div>
          <div class="lg:text-left text-center">
            <a
              href="./use-case.html"
              class="btn btn-md btn-white hover:btn-primary dark:btn-transparent"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-4">
        <div class="space-y-6">
          <div class="max-lg:text-center">
            <span class="ns-shape-35 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-1 lg:text-left text-center">
            <h3 class="text-heading-5">Social media</h3>
            <p class="max-w-[338px] lg:mx-0 mx-auto">
              Provide instant support on WhatsApp, Facebook Messenger, Instagram
            </p>
          </div>
          <div class="lg:text-left text-center">
            <a
              href="./use-case.html"
              class="btn btn-md btn-white hover:btn-primary dark:btn-transparent"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 lg:col-span-4">
        <div class="space-y-6">
          <div class="max-lg:text-center">
            <span class="ns-shape-52 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-1 lg:text-left text-center">
            <h3 class="text-heading-5">Business tools</h3>
            <p class="max-w-[313px] lg:mx-0 mx-auto">
              Connect messaging with Slack, Microsoft Teams, and CRM platforms for seamless
            </p>
          </div>
          <div class="lg:text-left text-center">
            <a
              href="./use-case.html"
              class="btn btn-md btn-white hover:btn-primary dark:btn-transparent"
              ><span>Read more</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
Feature section
===========================-->
<section class="bg-background-3 dark:bg-background-7 py-[100px] lg:py-[200px]">
  <div class="main-container" data-ns-animate data-delay="0.2">
    <div class="relative z-10">
      <div class="absolute top-0 left-0 right-0 bottom-0 -z-10 rounded-[20px] overflow-hidden">
        <img src="/nexsas-runtime/app-development/images/ns-img-14.png" alt="about bg" class="w-full h-full object-cover" />
      </div>

      <div class="py-14 lg:px-11 px-6 grid max-lg:grid-cols-1 grid-cols-2 max-sm:gap-10 gap-5">
        <div class="max-w-[500px]">
          <h2 class="text-accent mb-8 sm:text-heading-5 text-heading-6">
            We appreciate our valued clients and strive to provide them with the best service
            possible.
          </h2>
          <a href="./pricing.html" class="section-button btn btn-md hover:btn-primary btn-white">
            <span> Get started </span>
          </a>
        </div>
        <div>
          <ul class="space-y-4">
            <li class="flex items-center gap-2">
              <svg
                class="size-5 shrink-0"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10.0002C0 4.47729 4.47717 0 10 0C15.5229 0 20.0001 4.47729 20.0001 10.0002C20.0001 15.523 15.5229 20.0003 10 20.0003C4.47717 20.0003 0 15.523 0 10.0002Z"
                  fill="#FCFCFC"
                  fill-opacity="0.17"
                />
                <path
                  d="M14.125 7.375L8.875 12.6248L6.25 10"
                  stroke=""
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="stroke-accent"
                />
              </svg>
              <span class="text-accent">
                Innovative startups and ambitious scale-ups are redefining
              </span>
            </li>
            <li class="flex items-center gap-2">
              <svg
                class="size-5 shrink-0"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10.0002C0 4.47729 4.47717 0 10 0C15.5229 0 20.0001 4.47729 20.0001 10.0002C20.0001 15.523 15.5229 20.0003 10 20.0003C4.47717 20.0003 0 15.523 0 10.0002Z"
                  fill="#FCFCFC"
                  fill-opacity="0.17"
                />
                <path
                  d="M14.125 7.375L8.875 12.6248L6.25 10"
                  stroke=""
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="stroke-accent"
                />
              </svg>
              <span class="text-accent">
                Enterprise teams are the backbone of large organizations
              </span>
            </li>
            <li class="flex items-center gap-2">
              <svg
                class="size-5 shrink-0"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10.0002C0 4.47729 4.47717 0 10 0C15.5229 0 20.0001 4.47729 20.0001 10.0002C20.0001 15.523 15.5229 20.0003 10 20.0003C4.47717 20.0003 0 15.523 0 10.0002Z"
                  fill="#FCFCFC"
                  fill-opacity="0.17"
                />
                <path
                  d="M14.125 7.375L8.875 12.6248L6.25 10"
                  stroke=""
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="stroke-accent"
                />
              </svg>
              <span class="text-accent">
                Agencies and consultants play a crucial role in helping businesses
              </span>
            </li>
            <li class="flex items-center gap-2">
              <svg
                class="size-5 shrink-0"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10.0002C0 4.47729 4.47717 0 10 0C15.5229 0 20.0001 4.47729 20.0001 10.0002C20.0001 15.523 15.5229 20.0003 10 20.0003C4.47717 20.0003 0 15.523 0 10.0002Z"
                  fill="#FCFCFC"
                  fill-opacity="0.17"
                />
                <path
                  d="M14.125 7.375L8.875 12.6248L6.25 10"
                  stroke=""
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="stroke-accent"
                />
              </svg>
              <span class="text-accent">
                Finance, marketing, and product teams collaborate to create
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
CTA v1 section
===========================-->
<section class="py-[50px] md:py-20 lg:py-28 dark:bg-background-6 bg-white" aria-label="Use Case Overview">
  <div class="main-container">
    <div class="flex items-center flex-col lg:flex-row justify-between">
      <div
        class="xl:max-w-[650px] lg:max-w-[476px] max-[400px]:max-w-[300px] w-full space-y-5 text-center lg:text-left"
      >
        <span data-ns-animate data-delay="0.3" class="badge badge-green hidden"
          >{=$badge-text}</span
        >
        <div class="space-y-3">
          <h2
            data-ns-animate
            data-delay="0.4"
            class="text-secondary dark:text-accent text-heading-5 sm:text-heading-4 lg:text-heading-2"
          >
            Build a complete website using the
            <span class="text-primary-500 {=$span-class}">assistance</span>
          </h2>
          <p data-ns-animate data-delay="0.5">Start your free trial today and see your ideas come to life easily and creatively.</p>
        </div>
      </div>

      <div
        class="lg:basis-[466px] space-y-6 md:ml-0 xl:ml-[100px] pt-[40px] lg:pt-[67px] w-full sm:w-[80%] md:w-[60%]"
      >
        <form
          data-ns-animate
          data-delay="0.6"
          action="#"
          method="post"
          class="flex items-center flex-col gap-5 sm:flex-row justify-start lg:gap-3"
        >
          <input
            type="email"
            name="email"
            id="userEmail-cta-v1"
            placeholder="Enter your email"
            required
            class="px-[18px] shadow-1 h-12 py-3 placeholder:text-secondary/50 rounded-full border border-stroke-1 lg:max-w-[340px] md:w-[71%] w-full max-[376px]:w-full dark:border-stroke-7 dark:placeholder:text-accent/60 focus:outline-none focus:border-primary-600 dark:focus:border-primary-400 dark:text-accent placeholder:font-normal font-normal"
          />

          <button
            type="submit"
            class="btn btn-md btn-primary h-12 w-full sm:w-[28%] lg:w-auto hover:btn-secondary dark:hover:btn-accent"
          >
            <span>Get started</span>
          </button>
        </form>
        <ul
          class="flex flex-row items-center justify-center gap-x-4 sm:gap-x-6 sm:gap-y-0 gap-y-5 lg:justify-start"
        >
          <li data-ns-animate data-delay="0.7" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">No credit card required</p>
          </li>
          <li data-ns-animate data-delay="0.8" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">14-Day free trial</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

    </main>
    <!-- =========================
Footer v3
===========================-->


  