
    

    <main>
      <!-- =========================
Testimonial section
===========================-->
<section class="pt-[180px] xl:pt-[200px]">
  <div class="main-container">
    <div class="mb-[70px]">
      <!-- heading  -->
      <div class="max-w-[804px] md:w-full mx-auto text-center space-y-5">
        <span data-ns-animate data-delay="0.3" class="badge badge-cyan"> Reviews </span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.4">
            Hear from our customers about their experiences with us
          </h2>
          <p data-afluma-slot="summary" data-ns-animate data-delay="0.5" class="max-w-[600px] mx-auto">
            Hear from our customers about their experiences with us and discover the impact we’ve
            made through their own words. From seamless onboarding to exceptional support and
            tangible results
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
Testimonial Marquee sections
===========================-->
<section class="lg:pb-[100px] pb-[50px] md:pb-[75px] pt-[120px] lg:pt-[160px]">
  <div class="space-y-8" data-ns-animate data-delay="0.7" data-instant>
    <!-- =========================
Testimonial Marquee v1 section
===========================-->
<div class="cards-marquee-container">
  <div class="flex items-center gap-8">
    <!-- card one  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px] ml-8">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 dark:border-stroke-7 my-8"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img data-afluma-slot="primary-media"
            src="/nexsas-runtime/app-development/images/ns-avatar-10.png"
            alt="Jessica Lee avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Jessica Lee</p>
          <p class="text-tagline-2">Head of Customer Success</p>
        </div>
      </div>
    </div>

    <!-- card two  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 dark:border-stroke-7 my-8"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-13.png"
            alt="Brian Kim avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Brian Kim</p>
          <p class="text-tagline-2">Product Designer, Aster Labs</p>
        </div>
      </div>
    </div>

    <!-- card three  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 dark:border-stroke-7 my-8"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-3.png"
            alt="Olivia Martin avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Olivia Martin</p>
          <p class="text-tagline-2">Operations Manager, FinEdge</p>
        </div>
      </div>
    </div>

    <!-- card four  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 dark:border-stroke-7 my-8"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-2.png"
            alt="Ethan Clark avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Ethan Clark</p>
          <p class="text-tagline-2">Marketing Strategist, BrightWorks</p>
        </div>
      </div>
    </div>

    <!-- card five  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 dark:border-stroke-7 my-8"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-14.png"
            alt="Sophia Patel avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Sophia Patel</p>
          <p class="text-tagline-2">Data Scientist, Quantify</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- =========================
Testimonial Marquee 2 section
===========================-->
<div class="cards-right-marquee-container">
  <div class="flex items-center gap-8 overflow-hidden">
    <!-- card one  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] min-w-[358px] ml-8">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-10.png"
            alt="Jessica Lee avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Jessica Lee</p>
          <p class="text-tagline-2">Head of Customer Success</p>
        </div>
      </div>
    </div>

    <!-- card two  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] min-w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-13.png"
            alt="Brian Kim avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Brian Kim</p>
          <p class="text-tagline-2">Product Designer, Aster Labs</p>
        </div>
      </div>
    </div>

    <!-- card three  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] min-w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-3.png"
            alt="Olivia Martin avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Olivia Martin</p>
          <p class="text-tagline-2">Operations Manager, FinEdge</p>
        </div>
      </div>
    </div>

    <!-- card four  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] min-w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-2.png"
            alt="Ethan Clark avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Ethan Clark</p>
          <p class="text-tagline-2">Marketing Strategist, BrightWorks</p>
        </div>
      </div>
    </div>

    <!-- card five  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] min-w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-14.png"
            alt="Sophia Patel avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Sophia Patel</p>
          <p class="text-tagline-2">Data Scientist, Quantify</p>
        </div>
      </div>
    </div>

    <!-- card six  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] min-w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-14.png"
            alt="Liam Johnson avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Liam Johnson</p>
          <p class="text-tagline-2">Engineering Manager, Vertex</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- =========================
Testimonial Marquee v3 section
===========================-->
<div class="cards-marquee-container">
  <div class="flex items-center gap-8">
    <!-- card one  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px] ml-8">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-10.png"
            alt="Jessica Lee avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="dark:text-accent text-secondary">Jessica Lee</p>
          <p class="text-tagline-2">Head of Customer Success</p>
        </div>
      </div>
    </div>

    <!-- card two  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-13.png"
            alt="Brian Kim avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="dark:text-accent text-secondary">Brian Kim</p>
          <p class="text-tagline-2">Product Designer, Aster Labs</p>
        </div>
      </div>
    </div>

    <!-- card three  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-3.png"
            alt="Olivia Martin avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="dark:text-accent text-secondary">Olivia Martin</p>
          <p class="text-tagline-2">Operations Manager, FinEdge</p>
        </div>
      </div>
    </div>

    <!-- card four  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-2.png"
            alt="Ethan Clark avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="dark:text-accent text-secondary">Ethan Clark</p>
          <p class="text-tagline-2">Marketing Strategist, BrightWorks</p>
        </div>
      </div>
    </div>

    <!-- card five  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 my-8 dark:border-stroke-7"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="/nexsas-runtime/app-development/images/ns-avatar-14.png"
            alt="Sophia Patel avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="dark:text-accent text-secondary">Sophia Patel</p>
          <p class="text-tagline-2">Data Scientist, Quantify</p>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</section>

      <!-- =========================
Experience section
===========================-->
<section class="lg:py-[100px] py-[50px] md:py-[75px]">
  <div class="main-container">
    <div class="space-y-[70px]">
      <div class="space-y-3 text-center" data-ns-animate data-delay="0.2" data-instant>
        <h2 data-ns-animate data-delay="0.2">Over a decade of experience in this field.</h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[798px] md:w-full mx-auto">
          With more than ten years of hands-on experience, we’ve built a strong foundation of
          knowledge, skill, and trust in our industry. Over the years, we’ve navigated evolving
          trends, embraced new technologies, and
        </p>
      </div>

      <div
        data-ns-animate
        data-delay="0.5"
        class="flex py-6 bg-secondary dark:bg-background-6 rounded-[20px] flex-col gap-y-6 md:flex-row items-center justify-center [&>*:not(:last-child)]:max-md:border-b [&>*:not(:last-child)]:md:border-r [&>*:not(:last-child)]:max-md:border-b-accent/20 dark:[&>*:not(:last-child)]:max-md:border-b-stroke-5 [&>*:not(:last-child)]:md:border-r-accent/20 dark:[&>*:not(:last-child)]:md:border-r-stroke-5"
      >
        <div class="py-6 space-y-6 flex-1">
          <div
            class="w-20 h-[52px] bg-ns-yellow rounded-full mx-auto flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M22 11.0799V11.9999C21.9988 14.1563 21.3005 16.2545 20.0093 17.9817C18.7182 19.7088 16.9033 20.9723 14.8354 21.5838C12.7674 22.1952 10.5573 22.1218 8.53447 21.3744C6.51168 20.6271 4.78465 19.246 3.61096 17.4369C2.43727 15.6279 1.87979 13.4879 2.02168 11.3362C2.16356 9.18443 2.99721 7.13619 4.39828 5.49694C5.79935 3.85768 7.69279 2.71525 9.79619 2.24001C11.8996 1.76477 14.1003 1.9822 16.07 2.85986"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22 4L12 14.01L9 11.01"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <h3
            class="text-white flex items-center justify-center text-center text-xl leading-[1.5] font-normal"
          >
            <span
              data-counter
              data-number="80"
              data-speed="1000"
              data-interval="180"
              data-rooms="2"
              data-height-space="2.6"
              >80</span
            >% Project completed
          </h3>
        </div>
        <div class="py-6 space-y-6 flex-1">
          <div
            class="w-20 h-[52px] bg-ns-cyan rounded-full mx-auto flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M23 21.0009V19.0009C22.9993 18.1146 22.7044 17.2536 22.1614 16.5532C21.6184 15.8527 20.8581 15.3524 20 15.1309"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16 3.13086C16.8604 3.35116 17.623 3.85156 18.1676 4.55317C18.7122 5.25478 19.0078 6.11769 19.0078 7.00586C19.0078 7.89403 18.7122 8.75694 18.1676 9.45855C17.623 10.1602 16.8604 10.6606 16 10.8809"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 11C11.2091 11 13 9.20914 13 7C13 4.79086 11.2091 3 9 3C6.79086 3 5 4.79086 5 7C5 9.20914 6.79086 11 9 11Z"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <h3
            class="text-white flex items-center justify-center gap-0.5 text-center text-xl leading-[1.5] font-normal"
          >
            <span
              data-counter
              data-number="25"
              data-speed="1500"
              data-interval="180"
              data-du
              data-rooms="2"
              data-height-space="2.6"
              >25</span
            >
            Team members
          </h3>
        </div>
        <div class="py-6 space-y-6 flex-1">
          <div
            class="w-20 h-[52px] bg-ns-red rounded-full mx-auto flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7 22H4C3.46957 22 2.96086 21.7893 2.58579 21.4142C2.21071 21.0391 2 20.5304 2 20V13C2 12.4696 2.21071 11.9609 2.58579 11.5858C2.96086 11.2107 3.46957 11 4 11H7M14 9V5C14 4.20435 13.6839 3.44129 13.1213 2.87868C12.5587 2.31607 11.7956 2 11 2L7 11V22H18.28C18.7623 22.0055 19.2304 21.8364 19.5979 21.524C19.9654 21.2116 20.2077 20.7769 20.28 20.3L21.66 11.3C21.7035 11.0134 21.6842 10.7207 21.6033 10.4423C21.5225 10.1638 21.3821 9.90629 21.1919 9.68751C21.0016 9.46873 20.7661 9.29393 20.5016 9.17522C20.2371 9.0565 19.9499 8.99672 19.66 9H14Z"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <h3
            class="text-white flex items-center justify-center gap-0.5 text-center text-xl leading-[1.5] font-normal"
          >
            <span
              data-counter
              data-number="250"
              data-speed="1500"
              data-interval="180"
              data-rooms="2"
              data-height-space="2.6"
              >250</span
            >
            Satisfied clients
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
integration section
===========================-->
<section
  class="lg:pt-[100px] pt-[50px] md:pt-[75px] lg:pb-[100px] pb-[50px] md:pb-[75px] bg-white dark:bg-background-7 max-sm:overflow-hidden"
>
  <div class="main-container">
    <div class="grid grid-cols-12 items-center xl:gap-[100px] lg:gap-20 gap-y-16">
      <div class="col-span-12 lg:col-span-6 lg:pt-[150px] pt-[100px]">
        <div class="relative z-10 inline-block max-lg:left-1/2 max-lg:-translate-x-1/2">
          <figure
            data-ns-animate
            data-delay="0.2"
            data-direction="left"
            data-offset="100"
            class="max-w-[358px] rounded-[20px]"
          >
            <img
              src="/nexsas-runtime/app-development/images/ns-img-57.png"
              alt="about-data-integration"
              class="size-full dark:hidden rounded-[20px] object-cover"
            />
            <img
              src="/nexsas-runtime/app-development/images/ns-img-dark-35.png"
              alt="about-data-integration"
              class="size-full hidden dark:inline-block rounded-[20px] object-cover"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.3"
            data-direction="right"
            class="absolute max-sm:w-[200px] md:w-[250px] lg:w-[260px] xl:w-auto -top-12 -right-14 sm:-top-[90px] sm:-right-[200px] md:-right-[150px] lg:-right-[150px] xl:-right-[200px] rounded-2xl overflow-hidden"
          >
            <img
              src="/nexsas-runtime/app-development/images/ns-img-58.svg"
              alt="about-data-integration"
              class="size-full object-cover block dark:hidden"
            />
            <img
              src="/nexsas-runtime/app-development/images/ns-img-dark-36.svg"
              alt="about-data"
              class="size-full object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.4"
            data-direction="right"
            class="absolute max-sm:w-[130px] bottom-12 -right-14 sm:bottom-[85px] sm:-right-[200px] md:-right-[150px] lg:-right-[150px] xl:-right-[200px] -z-10 rounded-2xl overflow-hidden"
          >
            <img
              src="/nexsas-runtime/app-development/images/ns-img-59.svg"
              alt="about-data-integration"
              class="size-full object-cover block dark:hidden"
            />
            <img
              src="/nexsas-runtime/app-development/images/ns-img-dark-37.svg"
              alt="about-data-integration"
              class="size-full object-cover hidden dark:inline-block"
            />
          </figure>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6">
        <div class="space-y-3 lg:text-left text-center">
          <span data-ns-animate data-delay="0.3" class="badge badge-cyan">Data integrations</span>
          <h2 data-ns-animate data-delay="0.4" class="max-w-[592px] w-full lg:mx-0 mx-auto">
            A clear vision is essential for understanding wealth dynamics.
          </h2>
          <p
            data-ns-animate
            data-delay="0.5"
            class="lg:max-w-[592px] max-w-[450px] w-full lg:mx-0 mx-auto"
          >
            A clear vision is essential for understanding wealth dynamics because it provides
            direction, purpose, and clarity in navigating financial growth and sustainability.
          </p>
        </div>
        <div class="pt-8 pb-14">
          <ul class="flex items-center lg:justify-start justify-center xl:gap-6 gap-4 flex-wrap">
            <li data-ns-animate data-delay="0.6" class="flex items-center gap-2">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="11"
                  viewBox="0 0 15 11"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M13.1875 1.79102L5.3125 9.66567L1.375 5.72852"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span
                class="lg:text-tagline-1 text-tagline-2 font-medium text-secondary dark:text-accent/60"
                >On Demand Support</span
              >
            </li>
            <li data-ns-animate data-delay="0.7" class="flex items-center gap-2">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="11"
                  viewBox="0 0 15 11"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M13.1875 1.79102L5.3125 9.66567L1.375 5.72852"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span
                class="lg:text-tagline-1 text-tagline-2 font-medium text-secondary dark:text-accent/60"
              >
                Information Sharing
              </span>
            </li>
            <li data-ns-animate data-delay="0.8" class="flex items-center gap-2">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="11"
                  viewBox="0 0 15 11"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M13.1875 1.79102L5.3125 9.66567L1.375 5.72852"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span
                class="lg:text-tagline-1 text-tagline-2 font-medium text-secondary dark:text-accent/60"
              >
                Cloud Technology
              </span>
            </li>
          </ul>
        </div>
        <div data-ns-animate data-delay="0.8" class="lg:text-left text-center">
          <a data-afluma-slot="primary-action"
            href="./integration.html"
            class="btn btn-primary hover:btn-secondary btn-xl max-[376px]:w-full max-[426px]:w-[87%] md:w-auto dark:hover:btn-accent"
          >
            <span>Start your journey</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


      <!-- =========================
CTA v1 section
===========================-->
<section class="py-[50px] md:py-20 lg:py-28 dark:bg-background-6 bg-white" aria-label="Use Case Overview">
  <div class="main-container">
    <div class="flex items-center flex-col lg:flex-row justify-between">
      <div
        class="xl:max-w-[650px] lg:max-w-[476px] max-[400px]:max-w-[300px] w-full space-y-5 text-center lg:text-left"
      >
        <span data-ns-animate data-delay="0.3" class="badge badge-green badge-cyan"
          >Get started</span
        >
        <div class="space-y-3">
          <h2
            data-ns-animate
            data-delay="0.4"
            class="text-secondary dark:text-accent text-heading-5 sm:text-heading-4 lg:text-heading-2"
          >
            Build a complete website using the
            <span class="text-primary-500 {=$span-class}">assistance</span>
          </h2>
          <p data-ns-animate data-delay="0.5">Start your free trial today and see your ideas come to life easily and creatively.</p>
        </div>
      </div>

      <div
        class="lg:basis-[466px] space-y-6 md:ml-0 xl:ml-[100px] pt-[40px] lg:pt-[67px] w-full sm:w-[80%] md:w-[60%]"
      >
        <form
          data-ns-animate
          data-delay="0.6"
          action="#"
          method="post"
          class="flex items-center flex-col gap-5 sm:flex-row justify-start lg:gap-3"
        >
          <input
            type="email"
            name="email"
            id="userEmail-cta-v1"
            placeholder="Enter your email"
            required
            class="px-[18px] shadow-1 h-12 py-3 placeholder:text-secondary/50 rounded-full border border-stroke-1 lg:max-w-[340px] md:w-[71%] w-full max-[376px]:w-full dark:border-stroke-7 dark:placeholder:text-accent/60 focus:outline-none focus:border-primary-600 dark:focus:border-primary-400 dark:text-accent placeholder:font-normal font-normal"
          />

          <button
            type="submit"
            class="btn btn-md btn-primary h-12 w-full sm:w-[28%] lg:w-auto hover:btn-secondary dark:hover:btn-accent"
          >
            <span>Get started</span>
          </button>
        </form>
        <ul
          class="flex flex-row items-center justify-center gap-x-4 sm:gap-x-6 sm:gap-y-0 gap-y-5 lg:justify-start"
        >
          <li data-ns-animate data-delay="0.7" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">No credit card required</p>
          </li>
          <li data-ns-animate data-delay="0.8" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white dark:fill-secondary"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">14-Day free trial</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

    </main>
    <!-- =========================
Footer v3
===========================-->


  