
    <!-- =========================
Header v1
===========================-->


    <main>
      <!-- =========================
Vision Statement section
===========================-->
<section class="pt-32 pb-14 sm:pt-36 md:pt-42 md:pb-16 lg:pb-[88px] xl:pt-[180px] xl:pb-[100px]">
  <div class="main-container space-y-12 md:space-y-16 lg:space-y-[100px]">
    <div class="mx-auto max-w-[780px] space-y-3 text-center">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5"
        >Passion meets purpose</span
      >
      <h2 data-ns-animate data-delay="0.3" class="font-medium">
        Built for progress. designed for possibility.
      </h2>
      <p data-afluma-slot="summary" data-ns-animate data-delay="0.4">
        At Afluma, we believe software should empower people, not overwhelm them. That’s why we’ve
        created a flexible, intuitive platform that helps teams streamline operations, gain clarity
        from data, and scale faster, without the complexity.
      </p>
    </div>

    <article class="flex flex-col gap-8 md:flex-row">
      <figure
        data-ns-animate
        data-delay="0.5"
        data-instant
        class="max-w-full overflow-hidden rounded-[20px] md:max-w-[630px]"
      >
        <img data-afluma-slot="primary-media" src="/nexsas-runtime/creative-portfolio/images/ns-img-357.png" class="h-full w-full object-cover" alt="vision-1" />
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        data-instant
        class="max-w-full overflow-hidden rounded-[20px] md:max-w-[630px]"
      >
        <img src="/nexsas-runtime/creative-portfolio/images/ns-img-358.png" class="h-full w-full object-cover" alt="vision-2" />
      </figure>
    </article>
  </div>
</section>

      <!-- =========================
Our Mission section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] overflow-hidden"
>
  <div class="main-container">
    <div class="grid grid-cols-12 lg:gap-x-0 xl:gap-x-28 gap-y-12 items-center">
      <div class="col-span-12 lg:col-span-6">
        <div class="space-y-3">
          <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5">Our Mission</span>
          <h2 data-ns-animate data-delay="0.3">
            To help teams work and grow with smart, secure software.
          </h2>
          <p data-ns-animate data-delay="0.4">
            We help companies turn messy workflows into manageable systems—one dashboard, one
            automation, one insight at a time.
          </p>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6">
        <div>
          <figure data-ns-animate data-delay="0.4" class="relative w-full md:w-[500px]">
            <div class="w-full" data-ns-animate data-delay="0.4">
              <img src="/nexsas-runtime/creative-portfolio/images/ns-img-80.png" alt="features" class="w-full" />
            </div>
            <div
              data-ns-animate
              data-delay="0.5"
              data-direction="right"
              data-offset="100"
              data-progress-item
              data-progress-value="88"
              data-progress-duration="2.5"
              class="p-6 absolute top-3/4 -translate-y-3/4 left-[35%] sm:left-[63%] md:left-[60%] lg:left-[1%] xl:left-[50%] 2xl:left-[60%] w-[220px] md:w-[288px] h-[100px] rounded-xl overflow-hidden shadow-2 bg-white dark:bg-background-7"
            >
              <figcaption class="flex justify-between gap-2">
                <span class="text-tagline-1 font-normal dark:text-accent"> Today's Revenue </span>
                <p
                  class="text-lg font-medium leading-[1.5] text-secondary dark:text-accent flex items-center gap-1"
                >
                  $<span
                    data-counter
                    data-number="53224"
                    data-speed="1000"
                    data-interval="180"
                    data-rooms="5"
                    data-height-space="2.5"
                    >53,224</span
                  >
                </p>
              </figcaption>
              <div
                class="flex items-center justify-between gap-1"
                role="status"
                aria-label="Credit limit usage"
              >
                <span
                  class="relative max-w-[229px] inline-block bg-secondary dark:bg-background-2 w-full h-1.5 rounded-full"
                >
                  <span
                    class="bg-ns-green w-0 h-full rounded-full absolute top-0 left-0"
                    data-progress-bar
                  ></span>
                </span>
                <span class="text-tagline-3 font-normal dark:text-accent" data-progress-text
                  >88%</span
                >
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

      <Component
        src="src/components/pages/payment-solution/trusted-by-users.htm"
        class="pt-14 pb-14 md:pt-16 md:pb-16 lg:pt-[88px] lg:pb-[88px] xl:pt-[100px] xl:pb-[100px]"
        title="Grow together"
        description="We're not just a software platform
        we're a partner in your long-term success."
      />
      <Component
        src="src/components/pages/about-page-02/finance-intro.htm"
        page-link="./services.html"
      />
      <!-- ============================
    Review section
============================ -->

<section class="overflow-hidden max-lg:mt-12">
  <div class="main-container">
    <div
      data-ns-animate
      data-delay="0.1"
      class="bg-background-2 dark:bg-background-6 relative flex flex-col items-center overflow-hidden rounded-4xl py-[100px]"
    >
      <!-- gradient bg  -->
      <div
        data-ns-animate
        data-delay="0.2"
        data-direction="left"
        data-offset="100"
        class="pointer-events-none absolute -top-[90%] -left-[65%] h-[600px] w-[500px] rotate-[34deg] select-none max-[376px]:-left-[76%] md:-top-[73%] md:-left-[30%] lg:-top-[70%] lg:-left-[21%] xl:-left-[15%]"
      >
        <img
          src="/nexsas-runtime/creative-portfolio/images/ns-img-498.png"
          alt="Decorative gradient background overlay"
          class="h-full w-full object-cover"
        />
      </div>

      <figure class="flex flex-col items-center justify-center space-y-4">
        <img
          src="/nexsas-runtime/creative-portfolio/images/ns-avatar-1.png"
          alt="Avatar"
          class="bg-ns-yellow size-10 rounded-full object-cover ring-2 ring-white"
        />
        <figcaption class="text-tagline-2 dark:text-accent font-medium">From our CEO</figcaption>
      </figure>

      <p
        class="max-sm:text-tagline-2 mx-auto mt-6 mb-4 max-w-[626px] text-center text-xl max-sm:px-2"
      >
        Afluma was born from a simple idea: What if the tools we use to run our businesses made
        things easier? We're building a platform that scales with you, adapts to your needs, and
        grows with your team.
      </p>

      <strong class="dark:text-accent text-lg leading-[1.5] font-medium">
        Daniel Carter, CEO & Co-Founder
      </strong>
    </div>
  </div>
</section>

      <Component
        src="src/components/pages/ai-chatbot/cta.htm"
        button-top-spacing=" mt-8"
        page-link="./signup.html"
      />
    </main>
    <!-- =========================
Footer v1
===========================-->


  