<script src="/nexsas-runtime/creative-portfolio/vendor/swiper.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/leaflet.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/vanilla-infinite-marquee.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/split-text.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/gsap.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/scroll-trigger.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/draw-svg.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/scroll-trigger.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/motionpathplugin.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/lenis.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/springer.min.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/number-counter.js"></script>
<script src="/nexsas-runtime/creative-portfolio/vendor/stack-card.min.js"></script>
