
    <!-- =========================
Header v1
===========================-->


    <main>
      <!-- =========================
Testimonial section
===========================-->
<section
  class="pb-[75px] md:pb-[100px] lg:pb-[200px] bg-background-1 dark:bg-background-6 xl:pt-[180px] md:pt-42 sm:pt-36 pt-32"
>
  <div class="main-container">
    <div class="space-y-[70px]">
      <!-- heading  -->
      <div class="text-center space-y-5">
        <span data-ns-animate data-delay="0.3" class="badge badge-green">Reviews</span>
        <h2 data-ns-animate data-delay="0.4">Success stories from happy clients</h2>
      </div>

      <!-- reviews cards  -->
      <div class="columns-1 md:columns-2 lg:columns-3 gap-8">
        <!-- column one  -->

        <!-- review card one  -->
        <article
          data-ns-animate
          data-delay="0.5"
          class="mb-8 break-inside-avoid bg-background-3 dark:bg-background-7 p-2.5 rounded-[20px]"
        >
          <div class="bg-white dark:bg-background-6 p-4 sm:p-8 rounded-xl space-y-6">
            <!-- user info  -->
            <div
              class="flex items-center justify-between pb-6 border-b border-b-stroke-2 dark:border-b-stroke-6"
            >
              <!-- user name  -->
              <div class="flex items-center gap-3">
                <figure class="size-11 overflow-hidden rounded-full bg-(image:--color-gradient-8)">
                  <img data-afluma-slot="primary-media"
                    src="/nexsas-runtime/creative-portfolio/images/ns-avatar-1.png"
                    alt="Darrell Steward's profile"
                    loading="lazy"
                    class="size-full object-cover"
                  />
                </figure>

                <div>
                  <p data-afluma-slot="summary" class="text-lg font-medium text-secondary dark:text-accent">Darrell Steward</p>
                  <p class="text-tagline-2">Head of Operations, Finlytics</p>
                </div>
              </div>

              <!-- social link  -->
              <a data-afluma-slot="primary-action"
                href="#"
                aria-label="Follow Darrell Steward on Twitter"
                class="size-9 bg-background-2 dark:bg-background-5 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                  aria-hidden="true"
                  class="fill-secondary dark:fill-accent"
                >
                  <g clip-path="url(#clip0_928_12896)">
                    <path
                      d="M10.1161 0H11.9564L7.93583 5.08308L12.6657 12H8.96225L6.06156 7.80492L2.7425 12H0.901058L5.20148 6.56308L0.664062 0H4.46156L7.08353 3.83446L10.1161 0ZM9.47018 10.7815H10.4899L3.90746 1.15446H2.81316L9.47018 10.7815Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_928_12896_instance_0">
                      <rect width="12" height="12" fill="white" transform="translate(0.664062)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>

            <!-- user review  -->
            <p>
              As a small business owner, your service has been a lifesaver in managing cash flow and
              optimizing financial strategies. It has truly exceeded my expectations.
            </p>
          </div>
        </article>

        <!-- review card two  -->
        <article
          data-ns-animate
          data-delay="0.6"
          class="mb-8 break-inside-avoid bg-background-3 dark:bg-background-7 p-2.5 rounded-[20px]"
        >
          <div class="bg-white dark:bg-background-6 p-4 sm:p-8 rounded-xl space-y-6">
            <!-- user info  -->
            <div
              class="flex items-center justify-between pb-6 border-b border-b-stroke-2 dark:border-b-stroke-6"
            >
              <!-- user name  -->
              <div class="flex items-center gap-3">
                <figure class="size-11 overflow-hidden rounded-full bg-(image:--color-gradient-8)">
                  <img
                    src="/nexsas-runtime/creative-portfolio/images/ns-avatar-2.png"
                    alt="Cameron Williamson's profile"
                    loading="lazy"
                    class="size-full object-cover"
                  />
                </figure>

                <div>
                  <p class="text-lg font-medium text-secondary dark:text-accent">
                    Cameron Williamson
                  </p>
                  <p class="text-tagline-2">Product Manager, NovaApps</p>
                </div>
              </div>

              <!-- social link  -->
              <a
                href="#"
                aria-label="Follow Cameron Williamson on Twitter"
                class="size-9 bg-background-2 dark:bg-background-5 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                  aria-hidden="true"
                  class="fill-secondary dark:fill-accent"
                >
                  <g clip-path="url(#clip0_928_12896)">
                    <path
                      d="M10.1161 0H11.9564L7.93583 5.08308L12.6657 12H8.96225L6.06156 7.80492L2.7425 12H0.901058L5.20148 6.56308L0.664062 0H4.46156L7.08353 3.83446L10.1161 0ZM9.47018 10.7815H10.4899L3.90746 1.15446H2.81316L9.47018 10.7815Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_928_12896_instance_1">
                      <rect width="12" height="12" fill="white" transform="translate(0.664062)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>

            <!-- user review  -->
            <p>
              As a small business owner, your service has been a lifesaver in managing cash flow and
              optimizing financial strategies. It has truly exceeded my expectations. your service
              has been a lifesaver in managing cash flow and optimizing financial strategies. It has
              truly exceeded my expectations.
            </p>
          </div>
        </article>

        <!-- review card three  -->
        <article
          data-ns-animate
          data-delay="0.7"
          class="mb-8 break-inside-avoid bg-background-3 dark:bg-background-7 p-2.5 rounded-[20px]"
        >
          <div class="bg-white dark:bg-background-6 p-4 sm:p-8 rounded-xl space-y-6">
            <!-- user info  -->
            <div
              class="flex items-center justify-between pb-6 border-b border-b-stroke-2 dark:border-b-stroke-6"
            >
              <!-- user name  -->
              <div class="flex items-center gap-3">
                <figure class="size-11 overflow-hidden rounded-full bg-(image:--color-gradient-8)">
                  <img
                    src="/nexsas-runtime/creative-portfolio/images/ns-avatar-3.png"
                    alt="Arlene McCoy's profile"
                    loading="lazy"
                    class="size-full object-cover"
                  />
                </figure>

                <div>
                  <p class="text-lg font-medium text-secondary dark:text-accent">Arlene McCoy</p>
                  <p class="text-tagline-2">Chief Technology Officer, CloudScale</p>
                </div>
              </div>

              <!-- social link  -->
              <a
                href="#"
                aria-label="Follow Arlene McCoy on Twitter"
                class="size-9 bg-background-2 dark:bg-background-5 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                  aria-hidden="true"
                  class="fill-secondary dark:fill-accent"
                >
                  <g clip-path="url(#clip0_928_12896)">
                    <path
                      d="M10.1161 0H11.9564L7.93583 5.08308L12.6657 12H8.96225L6.06156 7.80492L2.7425 12H0.901058L5.20148 6.56308L0.664062 0H4.46156L7.08353 3.83446L10.1161 0ZM9.47018 10.7815H10.4899L3.90746 1.15446H2.81316L9.47018 10.7815Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_928_12896_instance_2">
                      <rect width="12" height="12" fill="white" transform="translate(0.664062)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>

            <!-- user review  -->
            <p>
              As a small business owner, your service has been a lifesaver in managing cash flow and
              optimizing financial strategies. It has truly exceeded my expectations. your service
              has been a lifesaver in managing cash flow and optimizing financial strategies. It has
              truly exceeded my expectations.
            </p>
          </div>
        </article>

        <!-- column two  -->

        <!-- review card one  -->
        <article
          data-ns-animate
          data-delay="0.5"
          class="mb-8 break-inside-avoid bg-background-3 dark:bg-background-7 p-2.5 rounded-[20px]"
        >
          <div class="bg-white dark:bg-background-6 p-4 sm:p-8 rounded-xl space-y-6">
            <!-- user info  -->
            <div
              class="flex items-center justify-between pb-6 border-b border-b-stroke-2 dark:border-b-stroke-6"
            >
              <!-- user name  -->
              <div class="flex items-center gap-3">
                <figure class="size-11 overflow-hidden rounded-full bg-(image:--color-gradient-8)">
                  <img
                    src="/nexsas-runtime/creative-portfolio/images/ns-avatar-4.png"
                    alt="Wade Warren's profile"
                    loading="lazy"
                    class="size-full object-cover"
                  />
                </figure>

                <div>
                  <p class="text-lg font-medium text-secondary dark:text-accent">Wade Warren</p>
                  <p class="text-tagline-2">Marketing Lead, BrightDesk</p>
                </div>
              </div>

              <!-- social link  -->
              <a
                href="#"
                aria-label="Follow Wade Warren on Twitter"
                class="size-9 bg-background-2 dark:bg-background-5 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                  aria-hidden="true"
                  class="fill-secondary dark:fill-accent"
                >
                  <g clip-path="url(#clip0_928_12896)">
                    <path
                      d="M10.1161 0H11.9564L7.93583 5.08308L12.6657 12H8.96225L6.06156 7.80492L2.7425 12H0.901058L5.20148 6.56308L0.664062 0H4.46156L7.08353 3.83446L10.1161 0ZM9.47018 10.7815H10.4899L3.90746 1.15446H2.81316L9.47018 10.7815Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_928_12896_instance_3">
                      <rect width="12" height="12" fill="white" transform="translate(0.664062)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>

            <!-- user review  -->
            <p>
              As a small business owner, your service has been a lifesaver in managing cash flow and
              optimizing financial strategies. It has truly exceeded my expectations. your service
              has been a lifesaver in managing cash flow and optimizing financial strategies. It has
              truly exceeded my expectations.
            </p>
          </div>
        </article>

        <!-- review card two  -->
        <article
          data-ns-animate
          data-delay="0.6"
          class="mb-8 break-inside-avoid bg-background-3 dark:bg-background-7 p-2.5 rounded-[20px]"
        >
          <div class="bg-white dark:bg-background-6 p-4 sm:p-8 rounded-xl space-y-6">
            <!-- user info  -->
            <div
              class="flex items-center justify-between pb-6 border-b border-b-stroke-2 dark:border-b-stroke-6"
            >
              <!-- user name  -->
              <div class="flex items-center gap-3">
                <figure class="size-11 overflow-hidden rounded-full bg-(image:--color-gradient-8)">
                  <img
                    src="/nexsas-runtime/creative-portfolio/images/ns-avatar-5.png"
                    alt="Courtney Henry's profile"
                    loading="lazy"
                  />
                </figure>

                <div>
                  <p class="text-lg font-medium text-secondary dark:text-accent">Courtney Henry</p>
                  <p class="text-tagline-2">Finance Director, ApexCorp</p>
                </div>
              </div>

              <!-- social link  -->
              <a
                href="#"
                aria-label="Follow Courtney Henry on Twitter"
                class="size-9 bg-background-2 dark:bg-background-5 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                  aria-hidden="true"
                  class="fill-secondary dark:fill-accent"
                >
                  <g clip-path="url(#clip0_928_12896)">
                    <path
                      d="M10.1161 0H11.9564L7.93583 5.08308L12.6657 12H8.96225L6.06156 7.80492L2.7425 12H0.901058L5.20148 6.56308L0.664062 0H4.46156L7.08353 3.83446L10.1161 0ZM9.47018 10.7815H10.4899L3.90746 1.15446H2.81316L9.47018 10.7815Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_928_12896)">
                      <rect width="12" height="12" fill="white" transform="translate(0.664062)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>

            <!-- user review  -->
            <p>
              As a small business owner, your service has been a lifesaver in managing cash flow and
              optimizing financial strategies. It has truly exceeded my expectations.
            </p>
          </div>
        </article>

        <!-- review card three  -->
        <article
          data-ns-animate
          data-delay="0.7"
          class="mb-8 break-inside-avoid bg-background-3 dark:bg-background-7 p-2.5 rounded-[20px]"
        >
          <div class="bg-white dark:bg-background-6 p-4 sm:p-8 rounded-xl space-y-6">
            <!-- user info  -->
            <div
              class="flex items-center justify-between pb-6 border-b border-b-stroke-2 dark:border-b-stroke-6"
            >
              <!-- user name  -->
              <div class="flex items-center gap-3">
                <figure class="size-11 overflow-hidden rounded-full bg-(image:--color-gradient-8)">
                  <img
                    src="/nexsas-runtime/creative-portfolio/images/ns-avatar-6.png"
                    alt="Dianne Russell's profile"
                    loading="lazy"
                    class="size-full object-cover"
                  />
                </figure>

                <div>
                  <p class="text-lg font-medium text-secondary dark:text-accent">Dianne Russell</p>
                  <p class="text-tagline-2">Data Analyst, InsightIQ</p>
                </div>
              </div>

              <!-- social link  -->
              <a
                href="#"
                aria-label="Follow Dianne Russell on Twitter"
                class="size-9 bg-background-2 dark:bg-background-5 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                  aria-hidden="true"
                  class="fill-secondary dark:fill-accent"
                >
                  <g clip-path="url(#clip0_928_12896)">
                    <path
                      d="M10.1161 0H11.9564L7.93583 5.08308L12.6657 12H8.96225L6.06156 7.80492L2.7425 12H0.901058L5.20148 6.56308L0.664062 0H4.46156L7.08353 3.83446L10.1161 0ZM9.47018 10.7815H10.4899L3.90746 1.15446H2.81316L9.47018 10.7815Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_928_12896)">
                      <rect width="12" height="12" fill="white" transform="translate(0.664062)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>

            <!-- user review  -->
            <p>
              As a small business owner, your service has been a lifesaver in managing cash flow and
              optimizing financial strategies. It has truly exceeded my expectations.
            </p>
          </div>
        </article>

        <!-- column three  -->

        <!-- review card one  -->
        <article
          data-ns-animate
          data-delay="0.5"
          class="mb-8 break-inside-avoid bg-background-3 dark:bg-background-7 p-2.5 rounded-[20px]"
        >
          <div class="bg-white dark:bg-background-6 p-4 sm:p-8 rounded-xl space-y-6">
            <!-- user info  -->
            <div
              class="flex items-center justify-between pb-6 border-b border-b-stroke-2 dark:border-b-stroke-6"
            >
              <!-- user name  -->
              <div class="flex items-center gap-3">
                <figure class="size-11 overflow-hidden rounded-full bg-(image:--color-gradient-8)">
                  <img
                    src="/nexsas-runtime/creative-portfolio/images/ns-avatar-7.png"
                    alt="Savannah Nguyen's profile"
                    loading="lazy"
                    class="size-full object-cover"
                  />
                </figure>

                <div>
                  <p class="text-lg font-medium text-secondary dark:text-accent">Savannah Nguyen</p>
                  <p class="text-tagline-2">UX Designer, FlowStudio</p>
                </div>
              </div>

              <!-- social link  -->
              <a
                href="#"
                aria-label="Follow Savannah Nguyen on Twitter"
                class="size-9 bg-background-2 dark:bg-background-5 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                  aria-hidden="true"
                  class="fill-secondary dark:fill-accent"
                >
                  <g clip-path="url(#clip0_928_12896)">
                    <path
                      d="M10.1161 0H11.9564L7.93583 5.08308L12.6657 12H8.96225L6.06156 7.80492L2.7425 12H0.901058L5.20148 6.56308L0.664062 0H4.46156L7.08353 3.83446L10.1161 0ZM9.47018 10.7815H10.4899L3.90746 1.15446H2.81316L9.47018 10.7815Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_928_12896)">
                      <rect width="12" height="12" fill="white" transform="translate(0.664062)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>

            <!-- user review  -->
            <p>
              As a small business owner, your service has been a lifesaver in managing cash flow and
              optimizing financial strategies. It has truly exceeded my expectations. your service
              has been a lifesaver in managing cash flow and optimizing financial strategies. It has
              truly exceeded my expectations.
            </p>
          </div>
        </article>

        <!-- review card two  -->
        <article
          data-ns-animate
          data-delay="0.6"
          class="mb-8 break-inside-avoid bg-background-3 dark:bg-background-7 p-2.5 rounded-[20px]"
        >
          <div class="bg-white dark:bg-background-6 p-4 sm:p-8 rounded-xl space-y-6">
            <!-- user info  -->
            <div
              class="flex items-center justify-between pb-6 border-b border-b-stroke-2 dark:border-b-stroke-6"
            >
              <!-- user name  -->
              <div class="flex items-center gap-3">
                <figure class="size-11 overflow-hidden rounded-full bg-(image:--color-gradient-8)">
                  <img
                    src="/nexsas-runtime/creative-portfolio/images/ns-avatar-8.png"
                    alt="Leslie Alexander's profile"
                    loading="lazy"
                    class="size-full object-cover"
                  />
                </figure>

                <div>
                  <p class="text-lg font-medium text-secondary dark:text-accent">
                    Leslie Alexander
                  </p>
                  <p class="text-tagline-2">Growth Manager, MarketHub</p>
                </div>
              </div>

              <!-- social link  -->
              <a
                href="#"
                aria-label="Follow Leslie Alexander on Twitter"
                class="size-9 bg-background-2 dark:bg-background-5 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                  aria-hidden="true"
                  class="fill-secondary dark:fill-accent"
                >
                  <g clip-path="url(#clip0_928_12896)">
                    <path
                      d="M10.1161 0H11.9564L7.93583 5.08308L12.6657 12H8.96225L6.06156 7.80492L2.7425 12H0.901058L5.20148 6.56308L0.664062 0H4.46156L7.08353 3.83446L10.1161 0ZM9.47018 10.7815H10.4899L3.90746 1.15446H2.81316L9.47018 10.7815Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_928_12896)">
                      <rect width="12" height="12" fill="white" transform="translate(0.664062)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>

            <!-- user review  -->
            <p>
              As a small business owner, your service has been a lifesaver in managing cash flow and
              optimizing financial strategies. It has truly exceeded my expectations.
            </p>
          </div>
        </article>

        <!-- review card three  -->
        <article
          data-ns-animate
          data-delay="0.7"
          class="mb-8 break-inside-avoid bg-background-3 dark:bg-background-7 p-2.5 rounded-[20px]"
        >
          <div class="bg-white dark:bg-background-6 p-4 sm:p-8 rounded-xl space-y-6">
            <!-- user info  -->
            <div
              class="flex items-center justify-between pb-6 border-b border-b-stroke-2 dark:border-b-stroke-6"
            >
              <!-- user name  -->
              <div class="flex items-center gap-3">
                <figure class="size-11 overflow-hidden rounded-full bg-(image:--color-gradient-8)">
                  <img
                    src="/nexsas-runtime/creative-portfolio/images/ns-avatar-8.png"
                    alt="Guy Hawkins's profile"
                    loading="lazy"
                    class="size-full object-cover"
                  />
                </figure>

                <div>
                  <p class="text-lg font-medium text-secondary dark:text-accent">Guy Hawkins</p>
                  <p class="text-tagline-2">Founder, PixelForge</p>
                </div>
              </div>

              <!-- social link  -->
              <a
                href="#"
                aria-label="Follow Guy Hawkins on Twitter"
                class="size-9 bg-background-2 dark:bg-background-5 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                  aria-hidden="true"
                  class="fill-secondary dark:fill-accent"
                >
                  <g clip-path="url(#clip0_928_12896)">
                    <path
                      d="M10.1161 0H11.9564L7.93583 5.08308L12.6657 12H8.96225L6.06156 7.80492L2.7425 12H0.901058L5.20148 6.56308L0.664062 0H4.46156L7.08353 3.83446L10.1161 0ZM9.47018 10.7815H10.4899L3.90746 1.15446H2.81316L9.47018 10.7815Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_928_12896)">
                      <rect width="12" height="12" fill="white" transform="translate(0.664062)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>

            <!-- user review  -->
            <p>
              As a small business owner, your service has been a lifesaver in managing cash flow and
              optimizing financial strategies. It has truly exceeded my expectations.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
Client Feedbacks section
===========================-->
<section>
  <div
    data-ns-animate
    data-delay="0.2"
    class="main-container text-center rounded-4xl py-[100px] -z-0 bg-background-3 dark:bg-background-7 overflow-hidden relative"
  >
    <div
      class="absolute -top-[164%] rotate-[21deg] -left-[35%] w-full h-full -z-10 select-none pointer-events-none"
      aria-hidden="true"
    >
      <img src="/nexsas-runtime/creative-portfolio/images/ns-img-498.png" alt="Decorative background gradient" class="scale-[40%]" />
    </div>

    <!-- Customer Testimonial -->
    <article class="text-center space-y-4 mb-6">
      <!-- Customer Avatars -->
      <div
        class="flex justify-center -space-x-2.5 cursor-pointer"
        role="group"
        aria-label="Customer avatars"
      >
        <img
          class="inline-block size-[38px] rounded-full ring-2 ring-accent bg-ns-yellow"
          src="/nexsas-runtime/creative-portfolio/images/ns-avatar-1.png"
          alt="Customer avatar 1"
          width="38"
          height="38"
        />
        <img
          class="inline-block size-[38px] rounded-full ring-2 ring-accent bg-ns-red"
          src="/nexsas-runtime/creative-portfolio/images/ns-avatar-2.png"
          alt="Customer avatar 2"
          width="38"
          height="38"
        />
        <img
          class="inline-block size-[38px] rounded-full relative z-0 ring-2 ring-accent bg-ns-green"
          src="/nexsas-runtime/creative-portfolio/images/ns-avatar-3.png"
          alt="Customer avatar 3"
          width="38"
          height="38"
        />
        <div
          class="inline-flex items-center relative z-10 justify-center size-[38px] bg-ns-cyan rounded-full ring-2 ring-accent text-secondary/80 text-tagline-3 font-medium"
        >
          99+
        </div>
      </div>

      <!-- Trust Metrics -->
      <div>
        <p class="text-tagline-2 text-secondary dark:text-accent font-medium">Tushed by 20k+</p>
        <p class="text-tagline-3">Customers Across the Globe</p>
      </div>
    </article>

    <!-- Client Logos -->

    <div class="max-w-[1130px] mx-auto relative">
      <div
        class="absolute left-0 top-5 h-full w-[7%] bg-gradient-to-r from-background-3 to-transparent dark:from-background-7 z-40"
      ></div>
      <div
        class="absolute right-0 top-5 h-full w-[7%] bg-gradient-to-l from-background-3 to-transparent dark:from-background-7 z-40"
      ></div>

      <div class="logos-marquee-container">
        <div
          class="flex items-center justify-center border-t border-secondary/10 dark:border-accent/10 pt-10 gap-8"
          role="group"
        >
          <figure class="min-w-[140px] md:min-w-[201px] ml-8">
            <img
              src="/nexsas-runtime/creative-portfolio/images/icons/client-logo-6.svg"
              alt="Client company logo 1"
              class="lg:w-auto inline-block dark:hidden"
              width="120"
              height="40"
            />

            <img
              src="/nexsas-runtime/creative-portfolio/images/icons/client-logo-6-dark.svg"
              alt="Client company logo 1"
              class="lg:w-auto hidden dark:block"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="/nexsas-runtime/creative-portfolio/images/icons/client-logo-7.svg"
              alt="Client company logo 2"
              class="lg:w-auto inline-block dark:hidden"
              width="120"
              height="40"
            />
            <img
              src="/nexsas-runtime/creative-portfolio/images/icons/client-logo-7-dark.svg"
              alt="Client company logo 2"
              class="lg:w-auto hidden dark:block"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="/nexsas-runtime/creative-portfolio/images/icons/client-logo-8.svg"
              alt="Client company logo 3"
              class="lg:w-auto inline-block dark:hidden"
              width="120"
              height="40"
            />
            <img
              src="/nexsas-runtime/creative-portfolio/images/icons/client-logo-8-dark.svg"
              alt="Client company logo 3"
              class="lg:w-auto hidden dark:block"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="/nexsas-runtime/creative-portfolio/images/icons/client-logo-9.svg"
              alt="Client company logo 4"
              class="lg:w-auto inline-block dark:hidden"
              width="120"
              height="40"
            />
            <img
              src="/nexsas-runtime/creative-portfolio/images/icons/client-logo-9-dark.svg"
              alt="Client company logo 4"
              class="lg:w-auto hidden dark:block"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="/nexsas-runtime/creative-portfolio/images/icons/client-logo-10.svg"
              alt="Client company logo 5"
              class="lg:w-auto inline-block dark:hidden"
              width="120"
              height="40"
            />
            <img
              src="/nexsas-runtime/creative-portfolio/images/icons/client-logo-10-dark.svg"
              alt="Client company logo 5"
              class="lg:w-auto hidden dark:block"
              width="120"
              height="40"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
Integration section
===========================-->
<section
  class="py-[50px] md:py-[70px] lg:py-[85px] xl:py-[100px] bg-background-2 dark:bg-background-6"
  aria-label="Integration Partners"
>
  <div class="main-container">
    <div class="space-y-[70px]">
      <!-- integration heading  -->
      <div class="max-w-[1028px] text-center w-full mx-auto">
        <span data-ns-animate data-delay="0.2" class="badge badge-green mb-5">Integration</span>
        <h2 data-ns-animate data-delay="0.3" class="text-heading-3 lg:text-heading-2 mb-3">
          Enhance your productivity effortlessly with over 50 integrations.
        </h2>
        <p
          data-ns-animate
          data-delay="0.4"
          class="text-secondary/60 dark:text-accent/60 max-w-[582px] mx-auto w-full"
        >
          Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's
          not Latin though it looks like nothing.
        </p>
      </div>

      <!-- brand logos  -->
      <div data-ns-animate data-delay="0.6" class="space-y-7">
        <!-- marquee logo one  -->
        <div class="relative max-w-[1128px] mx-auto">
          <!-- left gradient overlay  -->
          <div
            class="absolute left-0 top-0 h-[120px] w-[15%] md:w-[20%] bg-gradient-to-r from-background-2/90 to-transparent dark:from-background-6 z-40"
          ></div>

          <!-- right gradient overlay  -->
          <div
            class="absolute right-0 top-0 h-[120px] w-[15%] md:w-[20%] bg-gradient-to-l from-background-2/90 to-transparent dark:from-background-6 z-40"
          ></div>

          <div class="logos-marquee-container">
            <div class="flex items-center gap-5 md:gap-[34px] justify-center" role="group">
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/google.svg"
                  alt="Google logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/slack.svg"
                  alt="Slack logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/confluence.svg"
                  alt="Confluence logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/snapchat.svg"
                  alt="Snapchat logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/ms_yammer.svg"
                  alt="Yammer logo"
                  loading="lazy"
                  class="dark:hidden size-12"
                />
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/ms_yammer-dark.svg"
                  alt="Yammer logo"
                  loading="lazy"
                  class="hidden dark:inline-block"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/figma.svg"
                  alt="Figma logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/microsoft.svg"
                  alt="Microsoft logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
            </div>
          </div>
        </div>

        <!-- marquee logo two  -->
        <div class="relative max-w-[985px] mx-auto">
          <!-- left side gradient overlay  -->
          <div
            class="absolute left-0 top-0 h-[120px] w-[15%] md:w-[20%] bg-gradient-to-r from-background-2/90 to-transparent dark:from-background-6 z-40"
          ></div>

          <!-- right side gradient overlay  -->
          <div
            class="absolute right-0 top-0 h-[120px] w-[15%] md:w-[20%] bg-gradient-to-l from-background-2/90 to-transparent dark:from-background-6 z-40"
          ></div>

          <div class="logos-right-marquee-container">
            <div class="flex items-center gap-[34px] justify-center" role="group">
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/google-meet.svg"
                  alt="Google Meet logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/edge.svg"
                  alt="Microsoft Edge logo"
                  width="48"
                  height="48"
                  loading="lazy"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/vl.svg"
                  alt="LV logo"
                  loading="lazy"
                  class="dark:hidden size-12"
                />
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/vl-white.svg"
                  alt="LV logo"
                  loading="lazy"
                  class="hidden dark:inline-block"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/framer.svg"
                  alt="Framer logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/marvel.svg"
                  alt="Marvel logo"
                  loading="lazy"
                  class="dark:hidden size-12"
                />
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/marvel-dark.svg"
                  alt="Marvel logo"
                  loading="lazy"
                  class="hidden dark:inline-block"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/confluence.svg"
                  alt="Confluence logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-20 md:size-[120px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8 border-[10px] border-background-2 dark:border-background-9"
              >
                <img
                  src="/nexsas-runtime/creative-portfolio/images/icons/gmail.svg"
                  alt="Gmail logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <Component
        src="src/components/shared/cta/cta-v1.htm"
        class="dark:bg-background-6 bg-white"
        badge-class="badge-green"
        badge-text="Get started"
        span-class="hidden"
        cta-heading="Build a complete website using the assistance"
        description="Start your free trial today and see your ideas come to life easily and creatively."
        cta-btn-text="Get started"
        btn-class="hover:btn-secondary dark:hover:btn-accent"
      />
    </main>
    <!-- =========================
Footer v1
===========================-->


  