
    <!-- =========================
Header v1
===========================-->


    <main>
      <Component
        src="src/components/pages/learn-page/learn-banner.htm"
        page-link="./services.html"
      />
      <Component
        src="src/components/pages/learn-page/blog.htm"
        page-link="./blog-details.html"
        btn-page-link="./blog.html"
      />
      <!-- =========================
Feature section
===========================-->
<section
  class="bg-background-2 dark:bg-background-5 pt-[50px] pb-[100px] md:pt-[100px] md:pb-[200px] dark:md:pb-[100px]"
>
  <div class="main-container">
    <div class="mb-[35px] space-y-5 text-center md:mb-[70px]">
      <span data-ns-animate data-delay="0.1" class="badge badge-ivory">More features</span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2">Featured guides</h2>
        <p data-afluma-slot="summary" data-ns-animate data-delay="0.3" class="mx-auto max-w-[578px]">
          Our platform is designed with a focus on performance, usability, and innovation,
          delivering a seamless experience tailored to modern needs.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-y-10 md:gap-8">
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6 text-center">
          <div class="mx-auto">
            <span class="ns-shape-9 text-secondary dark:text-accent text-[52px]"> </span>
          </div>
          <div class="space-y-2">
            <h3 class="text-heading-5">How to automate repetitive</h3>
            <p>Learn how to streamline your workflow with smart automation.</p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6 text-center">
          <div class="mx-auto">
            <span class="ns-shape-3 text-secondary dark:text-accent text-[52px]"> </span>
          </div>
          <div class="space-y-2">
            <h3 class="text-heading-5">Making sense of your data</h3>
            <p>
              Monitor your suppliers, manage purchase orders seamlessly, and keep an eye on your
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6 text-center">
          <div class="mx-auto">
            <span class="ns-shape-12 text-secondary dark:text-accent text-[52px]"> </span>
          </div>
          <div class="space-y-2">
            <h3 class="text-heading-5">Best practices for managing</h3>
            <p>
              Help your team stay aligned and productive using shared dashboards and custom roles.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
Tutorials section
===========================-->
<section
  class="bg-background-3 dark:bg-background-5 pt-[100px] pb-[100px] xl:pt-[200px] dark:pt-[100px]"
>
  <div class="main-container">
    <div class="mb-[70px] space-y-3 text-center">
      <h2 data-ns-animate data-delay="0.1">Video tutorials</h2>
      <p data-ns-animate data-delay="0.2" class="mx-auto max-w-[620px]">
        Our innovative, dynamic, and talented team is the driving force behind our success. Each
        member brings a unique blend of expertise
      </p>
    </div>
    <div class="grid grid-cols-12 gap-y-8 md:gap-8">
      <div data-ns-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="group relative h-full overflow-hidden rounded-[20px] md:max-h-[408px]">
          <figure class="h-full w-full">
            <img data-afluma-slot="primary-media"
              src="/nexsas-runtime/creative-portfolio/images/ns-img-386.png"
              alt="Intro to Afluma video tutorial thumbnail"
              class="h-full w-full object-cover"
            />
          </figure>
          <div
            class="bg-secondary/10 absolute right-0 bottom-2.5 left-0 mx-auto w-[95%] rounded-xl p-6 text-center backdrop-blur-[10px] transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100 md:translate-y-full md:opacity-0"
          >
            <h3 class="text-heading-5 text-accent">Intro to Afluma</h3>
            <p class="flex items-center justify-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-miterlimit="10"
                />
                <path
                  d="M10 5.625V10H14.375"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-accent/60 text-tagline-3">25 Hours</span>
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="group relative h-full overflow-hidden rounded-[20px] md:max-h-[408px]">
          <figure>
            <img src="/nexsas-runtime/creative-portfolio/images/ns-img-387.png" alt="Intro to React video tutorial thumbnail" />
          </figure>
          <div
            class="bg-secondary/10 absolute right-0 bottom-2.5 left-0 mx-auto w-[95%] translate-y-0 rounded-xl p-6 text-center opacity-100 backdrop-blur-[10px] transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100 md:translate-y-full md:opacity-0"
          >
            <h3 class="text-heading-5 text-accent">Intro to React</h3>
            <p class="flex items-center justify-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-miterlimit="10"
                />
                <path
                  d="M10 5.625V10H14.375"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-accent/60 text-tagline-3">25 Hours</span>
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="group relative h-full overflow-hidden rounded-[20px] md:max-h-[408px]">
          <figure>
            <img src="/nexsas-runtime/creative-portfolio/images/ns-img-388.png" alt="Intro to JavaScript video tutorial thumbnail" />
          </figure>
          <div
            class="bg-secondary/10 absolute right-0 bottom-2.5 left-0 mx-auto w-[95%] translate-y-0 rounded-xl p-6 text-center opacity-100 backdrop-blur-[10px] transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100 md:translate-y-full md:opacity-0"
          >
            <h3 class="text-heading-5 text-accent">Intro to JavaScript</h3>
            <p class="flex items-center justify-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-miterlimit="10"
                />
                <path
                  d="M10 5.625V10H14.375"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-accent/60 text-tagline-3">25 Hours</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- =========================
Services section
===========================-->
<section
  class="md:py-[200px] dark:md:py-[100px] sm:py-[100px] py-[50px] bg-background-3 dark:bg-background-5"
>
  <div data-ns-animate data-delay="0.1" class="cards-marquee-container">
    <div class="flex items-center justify-center gap-8 mb-14">
      <!-- results  Item 1-->
      <div
        class="min-w-[360px] min-h-[270px] bg-background-2 hover:bg-secondary dark:bg-background-6 hover:dark:bg-background-8 rounded-[20px] relative p-8 flex flex-col gap-y-8 z-0 overflow-hidden justify-between group transition-all duration-700 ease-in-out ml-8"
      >
        <figure
          class="absolute inset-0 -z-10 opacity-0 group-hover:opacity-100 rotate-[-78deg] -right-[160%] -top-[210%] transition-all duration-1000 ease-in-out transform group-hover:scale-110 select-none pointer-events-none"
        >
          <img
            src="/nexsas-runtime/creative-portfolio/images/ns-img-516.png"
            alt="review-bg"
            class="w-full h-full object-cover"
          />
        </figure>
        <div
          class="transition-all duration-700 ease-in-out transform group-hover:translate-y-[4px]"
        >
          <p
            class="group-hover:text-white text-secondary/60 dark:text-accent/60 text-lg mb-2 transition-colors duration-700 ease-in-out"
          >
            Total users
          </p>
          <h3
            class="group-hover:text-ns-yellow text-secondary dark:text-accent transition-colors duration-700 ease-in-out"
          >
            2.18+
          </h3>
        </div>
        <p
          class="group-hover:text-accent/60 text-secondary/60 dark:text-accent/60 transition-all duration-700 ease-in-out transform group-hover:translate-y-[-6px] group-hover:opacity-90"
        >
          Million active users
        </p>
      </div>
      <!-- results  Item 2-->
      <div
        class="min-w-[360px] min-h-[270px] bg-background-2 hover:bg-secondary dark:bg-background-6 hover:dark:bg-background-8 rounded-[20px] relative p-8 flex flex-col gap-y-8 z-0 overflow-hidden justify-between group transition-all duration-700 ease-in-out"
      >
        <figure
          class="absolute inset-0 -z-10 opacity-0 group-hover:opacity-100 rotate-[-78deg] -right-[160%] -top-[210%] transition-all duration-1000 ease-in-out transform group-hover:scale-110 select-none pointer-events-none"
        >
          <img
            src="/nexsas-runtime/creative-portfolio/images/ns-img-516.png"
            alt="review-bg"
            class="w-full h-full object-cover"
          />
        </figure>
        <div
          class="transition-all duration-700 ease-in-out transform group-hover:translate-y-[4px]"
        >
          <p
            class="group-hover:text-white text-secondary/60 dark:text-accent/60 text-lg mb-2 transition-colors duration-700 ease-in-out"
          >
            System uptime
          </p>
          <h3
            class="group-hover:text-ns-yellow text-secondary dark:text-accent transition-colors duration-700 ease-in-out"
          >
            89.7%
          </h3>
        </div>
        <p
          class="group-hover:text-accent/60 text-secondary/60 dark:text-accent/60 transition-all duration-700 ease-in-out transform group-hover:translate-y-[-6px] group-hover:opacity-90"
        >
          Average system availability
        </p>
      </div>
      <!-- results  Item 3-->
      <div
        class="min-w-[360px] min-h-[270px] bg-background-2 hover:bg-secondary dark:bg-background-6 hover:dark:bg-background-8 rounded-[20px] relative p-8 flex flex-col gap-y-8 z-0 overflow-hidden justify-between group transition-all duration-700 ease-in-out"
      >
        <figure
          class="absolute inset-0 -z-10 opacity-0 group-hover:opacity-100 rotate-[-78deg] -right-[160%] -top-[210%] transition-all duration-1000 ease-in-out transform group-hover:scale-110 select-none pointer-events-none"
        >
          <img
            src="/nexsas-runtime/creative-portfolio/images/ns-img-516.png"
            alt="review-bg"
            class="w-full h-full object-cover"
          />
        </figure>
        <div
          class="transition-all duration-700 ease-in-out transform group-hover:translate-y-[4px]"
        >
          <p
            class="group-hover:text-white text-secondary/60 dark:text-accent/60 text-lg mb-2 transition-colors duration-700 ease-in-out"
          >
            Global reach
          </p>
          <h3
            class="group-hover:text-ns-yellow text-secondary dark:text-accent transition-colors duration-700 ease-in-out"
          >
            70+
          </h3>
        </div>
        <p
          class="group-hover:text-accent/60 text-secondary/60 dark:text-accent/60 transition-all duration-700 ease-in-out transform group-hover:translate-y-[-6px] group-hover:opacity-90"
        >
          Countries served worldwide
        </p>
      </div>
      <!-- results  Item 4-->
      <div
        class="min-w-[360px] min-h-[270px] bg-background-2 hover:bg-secondary dark:bg-background-6 hover:dark:bg-background-8 rounded-[20px] relative p-8 flex flex-col gap-y-8 z-0 overflow-hidden justify-between group transition-all duration-700 ease-in-out"
      >
        <figure
          class="absolute inset-0 -z-10 opacity-0 group-hover:opacity-100 rotate-[-78deg] -right-[160%] -top-[210%] transition-all duration-1000 ease-in-out transform group-hover:scale-110 select-none pointer-events-none"
        >
          <img
            src="/nexsas-runtime/creative-portfolio/images/ns-img-516.png"
            alt="review-bg"
            class="w-full h-full object-cover"
          />
        </figure>
        <div
          class="transition-all duration-700 ease-in-out transform group-hover:translate-y-[4px]"
        >
          <p
            class="group-hover:text-white text-secondary/60 dark:text-accent/60 text-lg mb-2 transition-colors duration-700 ease-in-out"
          >
            Response time
          </p>
          <h3
            class="group-hover:text-ns-yellow text-secondary dark:text-accent transition-colors duration-700 ease-in-out"
          >
            3 minutes
          </h3>
        </div>
        <p
          class="group-hover:text-accent/60 text-secondary/60 dark:text-accent/60 transition-all duration-700 ease-in-out transform group-hover:translate-y-[-6px] group-hover:opacity-90"
        >
          Average support response
        </p>
      </div>
      <!-- results  Item 5-->
      <div
        class="min-w-[360px] min-h-[270px] bg-background-2 hover:bg-secondary dark:bg-background-6 hover:dark:bg-background-8 rounded-[20px] relative p-8 flex flex-col gap-y-8 z-0 overflow-hidden justify-between group transition-all duration-700 ease-in-out"
      >
        <figure
          class="absolute inset-0 -z-10 opacity-0 group-hover:opacity-100 rotate-[-78deg] -right-[160%] -top-[210%] transition-all duration-1000 ease-in-out transform group-hover:scale-110 select-none pointer-events-none"
        >
          <img
            src="/nexsas-runtime/creative-portfolio/images/ns-img-516.png"
            alt="review-bg"
            class="w-full h-full object-cover"
          />
        </figure>
        <div
          class="transition-all duration-700 ease-in-out transform group-hover:translate-y-[4px]"
        >
          <p
            class="group-hover:text-white text-secondary/60 dark:text-accent/60 text-lg mb-2 transition-colors duration-700 ease-in-out"
          >
            Enterprise clients
          </p>
          <h3
            class="group-hover:text-ns-yellow text-secondary dark:text-accent transition-colors duration-700 ease-in-out"
          >
            150+
          </h3>
        </div>
        <p
          class="group-hover:text-accent/60 text-secondary/60 dark:text-accent/60 transition-all duration-700 ease-in-out transform group-hover:translate-y-[-6px] group-hover:opacity-90"
        >
          Active enterprise customers
        </p>
      </div>
    </div>
  </div>
</section>

      <Component
        src="src/components/pages/learn-page/integration.htm"
        page-link="./integration.html"
      />
      <!-- =========================
Community section
===========================-->
<section class="bg-background-3 dark:bg-background-5 py-[50px] md:py-[100px]">
  <div class="main-container">
    <div class="mb-[70px] space-y-3 text-center">
      <h2 data-ns-animate data-delay="0.1">Join the Afluma community</h2>
      <p data-ns-animate data-delay="0.2">
        Ask questions, share solutions, and connect with other users around the world.
      </p>
    </div>
    <div class="grid grid-cols-12 gap-y-8 md:gap-8">
      <div data-ns-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-6 rounded-[20px] p-7 text-center sm:p-11"
        >
          <div class="mx-auto">
            <span class="ns-shape-9 text-secondary dark:text-accent text-[52px]"> </span>
          </div>
          <div class="space-y-2">
            <h3 class="text-heading-5">Open discussions</h3>
            <p>Learn how to streamline your workflow with smart automation.</p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-6 rounded-[20px] p-7 text-center sm:p-11"
        >
          <div class="mx-auto">
            <span class="ns-shape-3 text-secondary dark:text-accent text-[52px]"> </span>
          </div>
          <div class="space-y-2">
            <h3 class="text-heading-5">Use case sharing</h3>
            <p>
              Monitor your suppliers, manage purchase orders seamlessly, and keep an eye on your
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-6 rounded-[20px] p-7 text-center sm:p-11"
        >
          <div class="mx-auto">
            <span class="ns-shape-12 text-secondary dark:text-accent text-[52px]"> </span>
          </div>
          <div class="space-y-2">
            <h3 class="text-heading-5">Feedback & feature requests</h3>
            <p>
              Help your team stay aligned and productive using shared dashboards and custom roles.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <Component
        src="src/components/shared/cta/cta-v1.htm"
        class="dark:bg-background-5 bg-white"
        badge-class="badge-green"
        badge-text="Get started"
        span-class="hidden"
        cta-heading="Ready to start earning with Afluma?"
        description="If you have any questions, feel free to reach out to our team."
        cta-btn-text="Get started"
        btn-class="hover:btn-secondary dark:hover:btn-accent"
      />
    </main>

    <!-- =========================
Footer v1
===========================-->


  