<!-- wrapper  -->
<button
  type="button"
  class="bg-white rounded-full group button cursor-pointer {=$button-class} font-ibm-plex-mono text-tagline-1 text-secondary button-inner flex h-12 w-full cursor-pointer items-center rounded-full p-1 font-normal first-letter:uppercase"
>
  <!-- icon wrapper  -->
  <div
    class="button-icon relative bg-black z-20 h-10 w-14 flex items-center justify-center overflow-hidden rounded-full"
    aria-hidden="true"
  >
    <!-- icon  -->
    <span
      class="flex size-6 items-center justify-center shrink-0"
      aria-hidden="true"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        class="size-6 fill-white"
      >
        <path d="M8 5H10V7H8V5Z" />
        <path d="M11 8H13V10H11V8Z" />
        <path d="M14 11H16V13H14V11Z" />
        <path d="M11 14H13V16H11V14Z" />
        <path d="M8 17H10V19H8V17Z" />
      </svg>
    </span>
  </div>
  <!-- content  -->
  <span
    class="button-text shrink-0 px-4 {=$button-text-class}"
    aria-hidden="true"
  >
    {=$button-text}
  </span>
</button>
