<div class="mx-auto w-fit" data-orbit-layout>
  <div
    data-orbit
    data-orbit-speed="0.3"
    class="invisible relative mx-auto aspect-square size-[min(calc(100vw-1.5rem),1100px)] rounded-full border-2 border-stroke-3 md:size-[min(90vw,960px)] lg:size-[min(88vw,1100px)]"
  >
    <div data-orbit-center class="absolute size-5">
      <!-- Item 01: integration-discord -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-discord.svg" alt="integration-discord" class="size-full object-cover" />
  </div>
</div>
<!-- Item 02: integration-mocha -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-mocha.svg" alt="integration-mocha" class="size-full object-cover" />
  </div>
</div>
<!-- Item 03: integration-pinterest -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-pinterest.svg" alt="integration-pinterest" class="size-full object-cover" />
  </div>
</div>
<!-- Item 04: integration-redit -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-redit.svg" alt="integration-redit" class="size-full object-cover" />
  </div>
</div>
<!-- Item 05: integration-snapchat -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-snapchat.svg" alt="integration-snapchat" class="size-full object-cover" />
  </div>
</div>
<!-- Item 06: integration-twitter -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-twitter.svg" alt="integration-twitter" class="size-full object-cover" />
  </div>
</div>
<!-- Item 07: integration-youtube-music -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-youtube-music.svg" alt="integration-youtube-music" class="size-full object-cover" />
  </div>
</div>
<!-- Item 08: integration-youtube -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-youtube.svg" alt="integration-youtube" class="size-full object-cover" />
  </div>
</div>
<!-- Item 09: integration-zapier -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-zapier.svg" alt="integration-zapier" class="size-full object-cover" />
  </div>
</div>
<!-- Item 10: integration-discord -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-discord.svg" alt="integration-discord" class="size-full object-cover" />
  </div>
</div>
<!-- Item 11: integration-mocha -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-mocha.svg" alt="integration-mocha" class="size-full object-cover" />
  </div>
</div>
<!-- Item 12: integration-pinterest -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-pinterest.svg" alt="integration-pinterest" class="size-full object-cover" />
  </div>
</div>
<!-- Item 13: integration-redit -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-redit.svg" alt="integration-redit" class="size-full object-cover" />
  </div>
</div>
<!-- Item 14: integration-snapchat -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-snapchat.svg" alt="integration-snapchat" class="size-full object-cover" />
  </div>
</div>
<!-- Item 15: integration-twitter -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-twitter.svg" alt="integration-twitter" class="size-full object-cover" />
  </div>
</div>
<!-- Item 16: integration-youtube-music -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-youtube-music.svg" alt="integration-youtube-music" class="size-full object-cover" />
  </div>
</div>
<!-- Item 17: integration-youtube -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-youtube.svg" alt="integration-youtube" class="size-full object-cover" />
  </div>
</div>
<!-- Item 18: integration-zapier -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-zapier.svg" alt="integration-zapier" class="size-full object-cover" />
  </div>
</div>
<!-- Item 19: integration-discord -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-discord.svg" alt="integration-discord" class="size-full object-cover" />
  </div>
</div>
<!-- Item 20: integration-mocha -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-mocha.svg" alt="integration-mocha" class="size-full object-cover" />
  </div>
</div>
<!-- Item 21: integration-pinterest -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-pinterest.svg" alt="integration-pinterest" class="size-full object-cover" />
  </div>
</div>
<!-- Item 22: integration-redit -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-redit.svg" alt="integration-redit" class="size-full object-cover" />
  </div>
</div>
<!-- Item 23: integration-snapchat -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-snapchat.svg" alt="integration-snapchat" class="size-full object-cover" />
  </div>
</div>
<!-- Item 24: integration-twitter -->
<div class="orbit-pivot-outer absolute top-[calc(var(--orbit-size)*-0.5)]">
  <div class="orbit-basket absolute top-[-20px] size-16 rounded-full">
    <img src="/nexsas-runtime/automation-saas/images/icons/integration-twitter.svg" alt="integration-twitter" class="size-full object-cover" />
  </div>
</div>

    </div>
  </div>
</div>
