<div
  class="lg:p-8 p-5 bg-white rounded-[20px] max-xl:space-y-8 h-[425px] xl:h-[510px]"
>
  <figure
    class="w-full max-[376px]:h-[240px] h-[265px] lg:h-[275px] xl:h-[382px]"
  >
    <img
      src="/nexsas-runtime/automation-saas/images/ns-img-21.png"
      alt="multi-step-automation-logic"
      class="size-full object-cover"
    />
  </figure>

  <div class="space-y-1">
    <h3 class="text-heading-5">Multi-step automation logic</h3>
    <p class="text-background-14/60">
      Build workflows that execute multiple actions in sequence.
    </p>
  </div>
</div>
