<div
  class="lg:p-8 p-5 bg-white rounded-[20px] lp:space-y-4 h-[425px] xl:h-[510px]"
>
  <figure class="w-full h-[325px] lg:h-[288px] xl:h-[372px]">
    <img
      src="/nexsas-runtime/automation-saas/images/ns-img-20.svg"
      alt="scale-without-complexity"
      class="size-full object-cover"
    />
  </figure>

  <div class="space-y-1">
    <h3 class="text-heading-5">Scale without complexity</h3>
    <p class="text-background-14/60 line-clamp-1">
      Streamline workflows, connect tools, and grow faster—without adding extra
      overhead.
    </p>
  </div>
</div>
