<!-- Services hero -->
<section class="overflow-hidden pt-20 md:pt-25 lg:pt-39">
  <div class="main-container">
    <div class="space-y-10 md:space-y-14">
      <div class="space-y-2 text-center md:space-y-3">
        <h2 data-text-reveal data-delay="0.1">
          Transform operations with <br class="hidden md:block" />
          automation services
        </h2>

        <p
          data-text-reveal
          data-delay="0.2"
          class="mx-auto max-w-[560px] text-tagline-1 text-secondary/60"
        >
          Nexsas helps teams design, launch, and scale automation systems that
          reduce manual work and improve execution across the business.
        </p>
      </div>

      <a
        data-ns-animate
        data-delay="0.3"
        href="./contact.html"
        class="flex items-center justify-center"
      >
        <Component
          src="../shared/ui/button/button-white.htm"
          button-text="Talk to our automation experts"
          button-class="w-full md:w-auto"
          button-text-class="text-center text-nowrap max-sm:flex-1  max-sm:pr-8!"
        />
      </a>
    </div>
  </div>
</section>
